{% extends 'base.html.twig' %}

{% block title %}SupAdmin!
{% endblock %}

{% block body %}

	<script>
		let zoneIdFromServer = null;
let productLineIdFromServer = null;
let categoryIdFromServer = null;
let buttonIdFromServer = null;{% if zone is defined and zone is not null %}zoneIdFromServer = parseInt('{{ zone.getId() }}');{% endif %}{% if productLine is defined and productLine is not null %}productLineIdFromServer = parseInt('{{ productLine.getId() }}');{% endif %}{% if category is defined and category is not null %}categoryIdFromServer = parseInt('{{ category.getId() }}');{% endif %}{% if button is defined and button is not null %}buttonIdFromServer = parseInt('{{ button.getId() }}');{% endif %}
	</script>


	<h1 class="my-4">
		<strong>Page de Super-Administration</strong>
	</h1>

	<h2 class="my-4">
		<strong>Formulaire de creation de zones :</strong>
	</h2>
	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row ">
				<form method="POST" action="{{ path('app_super_admin_create_zone') }}">

					<div class="card border-0 shadow rounded-3 my-5 bg-secondary">
						<div class="card-body">
							<div class="row d-flex align-items-center gy-lg-0 gy-5">
								<div class="col-md-6">

									<h5 class="card-title text-center mb-5 fw-light fs-5">
										<strong>Creation de Zones</strong>
									</h5>

									<form class="form-floating" method="post">

										<div class="form-control mb-3">
											<label for="zonename">Nom de la zone</label>
											<input type="text" name="zonename" placeholder="Nom de la zone" required class="form-control" id="zonename">
										</div>

										<div class="d-grid">
											<button class="btn btn-primary btn-login text-first|uppercase fw-bold" type="submit">Valider</button>
										</div>

									</form>
									<hr class="my-4">

								</div>
								<div class="col-md-6">
									<h5 class="card-title text-center mb-5 fw-light fs-5">
										<strong>Liste des zones :</strong>
									</h5>
									<ul class="list-unstyled">
										{% for zone in zones %}
											<li class="form-control d-flex justify-content-between align-items-center mb-2">
												<a href="{{path('app_zone_admin', {zone: zone.name})}}" class="btn btn-link">
													-
													{{ zone.name|split('.')|first|upper }}
												</a>
												<a href="{{path('app_super_admin_delete_zone', {zone: zone.name})}}" class="btn btn-danger delete-zone">
													Supprimer
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<h2 class="my-4">
		<strong>Formulaire de creation de compte utilisateur :</strong>
	</h2>
	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row">
				<form method="POST" action="{{ path('app_super_admin_create_admin') }}">
					{% include "services/accountservices/create_account.html.twig" %}
				</form>
			</div>
		</div>
	</div>

	<h2 class="my-4">
		<strong>Formulaire d'upload :</strong>
	</h2>
	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row">
				<form action="{{path('app_generic_upload_files')}}" method="POST" enctype="multipart/form-data">
					{% include "services/uploads/upload.html.twig" %}
				</form>
			</div>
		</div>
	</div>
	<h2 class="my-4">
		<strong>Formulaire d'ajout d'Incident :</strong>
	</h2>
	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row">

				<form action="{{path('app_generic_upload_incident_files')}}" method="POST" enctype="multipart/form-data">
					{% include "services/incidents/incidents.html.twig" %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
