{# {% extends 'base.html.twig' %}

{% block title %}Create an account!
{% endblock %} #}

{% block body %}

	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<h5 class="card-title text-center mb-5 fw-light fs-5">Create an account</h5>
			<form class="row form-floating justify-content-center " method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}
				<div class="form-control mb-3">
					<input type="text" name="username" placeholder="Username" required>
				</div>
				<div class="form-control mb-3">
					<input type="password" id="floatingPassword" placeholder="Password" name="password" required>
				</div>
				<div class="form-control mb-5">
					<label>Choose a Role for your new user:</label>
					<select name="role" id="role">
						<option value="">--Please choose a Role--</option>
						<option value="ROLE_ADMIN">Admin de Zone</option>
						<option value="ROLE_USER">User</option>
					</select>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="d-grid">
					<button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Create account</button>
				</div>
				<hr class="my-4">
				<p class="mt-5 mb-3 text-muted">You already have an account ?
					<a href="{{path('app_login')}}">Sign in</a>
				</p>
			</form>
		</div>
	</div>


{% endblock %}
