{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
				<div class="card border-0 shadow rounded-3 my-5">
					<div class="card-body p-4 p-sm-5">
						<h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
						<form method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}
							{% if app.user is not null %}
								<div class="mb-3">
									{% for success in app.flashes('success') %}
										{{ success }}
									{% endfor %}
								</div>
								<div class="mb-3">
									You are logged in as
									{{ app.user.userIdentifier }},
									<a href="{{ path('app_logout') }}">Logout</a>
								</div>
							{% endif %}
							<div class="form-floating mb-3">
								<input type="text" value="{{ last_username }}" name="name" id="name" class="form-control" placeholder="Username">
								<label for="username">Username</label>
							</div>
							<div class="form-floating mb-3">
								<input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
								<label for="floatingPassword">Password</label>
							</div>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="d-grid">
								<button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign in</button>
							</div>
							<hr class="my-4">
							<p class="mt-5 mb-3 text-muted">Not a user ?
								<a href="{{path('app_create_account')}}">Create an account</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
