{% extends 'base.html.twig' %}
{% block title %}
	{{incident.name}}
	|
	{{ parent() }}
{% endblock %}

{% block body %}


	{% block javascripts %}
		{{parent()}}
		{{ encore_entry_script_tags('incident-cascading-dropdowns') }}
	{% endblock %}
	<div
		class="card border-0 shadow rounded-3 my-5 bg-secondary">
		<div
			class="card-body ">
			<div
				class="row d-flex align-items-center gy-lg-0 gy-5">
				<p
					class="text-white m-0">
					<h3
						style="color:white">
						Modification du fichier
						<strong>
							{{incident.name}}
						</strong>
						:
					</h3>
					Type d'incident:
					{{ incident.incidentCategory.name|split('.')|first|upper }}
				</p>
				<div
					class="ratio ratio-4x3">
					<iframe
						title="incident-file-display-for-modification"
						src="{{ path('app_incident_download_file', { 'incidentId': incident.id }) }}" 
						target="_blank"></iframe>
				</div>

				{{ form_start(form, {'attr': {'class': 'form-floating justify-content-center', 'id': 'modifyIncidentForm','method' : 'POST', 'enctype': 'multipart/form-data'}, 'action': path('app_incident_modify_file', {'incidentId': incident.id})}) }}
				<div
					class="fallback"
					data-controller="filename-validation">
					<div
						class="mb-3">
						{{ form_label(form.file, 'Choisissez un nouveau ficher:', {'label_attr': {'class': 'form-label', 'style': 'color:white'}}
						) }}

						{{ form_widget(form.file, {'attr': {'class': 'form-control', 'id': 'file', 'accept' : '.pdf'}}
						) }}
					</div>
					<div
						data-filename-validation-target="message"
						class="newFilename-message "></div>
					<div
						class="mb-3">
						{{ form_label(form.name, 'Nouveau nom du fichier:', {'label_attr': {'class': 'form-label', 'style': 'color:white'}}
						) }}
						{{ form_widget(form.name, {'attr': {'class': 'form-control', 'id': 'name', 'placeholder': 'Entrer un nouveau nom de fichier (optionnel)'}}
						) }}
					</div>

					<div
						style="color:white">
						Zone:
						{{ incident.productLine.zone.name|split('.')|first|upper }}
						&nbsp;>&nbsp;Ligne:
						{{ incident.productLine.name|split('.')|first|upper}}
					</div>

					<div
						class="row">
						<div
							class="col-md-2 col-sm-2 mt-2 mb-2">
							<label
								for="incident_zone"
								style="color:white">
								Zone:
							</label>
						</div>
						<div
							class="col-md-10 col-sm-10 mt-2 mb-2">
							<select
								name="incident_zone"
								id="incident_zone"
								class="form-select"
								required>
								<option
									value=""
									selected
									disabled
									hidden>
									Choisir une Zone
								</option>
							</select>
						</div>
						<div
							class="col-md-2 col-sm-2 mt-2 mb-2">
							<label
								for="incident_productLine"
								style="color:white">
								Ligne :
							</label>
						</div>


						<div
							class="col-md-10 col-sm-10 mt-2 mb-2">
							{{ form_widget(form.productLine,{'attr': {'class': 'form-select', 'name': 'incident_productLine', 'id': 'incident_productLine', 'required': true}}
							) }}
						</div>

						<div
							class="col-md-2 col-sm-2 mt-2 mb-2">
							<label
								for="incident_incidentCategory"
								style="color:white">
								Type d'incident:
							</label>
						</div>
						<div
							class="col-md-10 col-sm-10 mt-2 mb-2">
							{{ form_widget(form.incidentCategory,{'attr': {'class': 'form-select', 'name': 'incident_incidentCategory', 'id': 'incident_incidentCategory'}}
							) }}
						</div>
						<div
							class="col-md-2 col-sm-2 mt-2 mb-2">
							<label
								for="incident_autoDisplayPriority"
								style="color:white">
								Niveau de priorité:
							</label>
						</div>
						<div
							class="col-md-10 col-sm-10 mt-2 mb-2">
							{{ form_widget(form.autoDisplayPriority,{'attr': {'class': 'form-select', 'name': 'incident_autoDisplayPriority', 'id': 'incident_autoDisplayPriority'}}
							) }}
						</div>
					</div>
				</div>
				<div
					class="d-grid gap-2 d-md-flex justify-content-md-center mt-5">
					<button
						type="submit"
						class="btn btn-primary mb-5 submit-incident-modification">
						Modifier
					</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
