<div
	class="flex-grow-1">
	<strong
		class="flex-grow-1">
		{{shiftLeader.operator.name|capitalize|split('.')|first }}
		{{shiftLeader.operator.name|upper|split('.')|last }}
	</strong>
</div>
<div
	class="m-1">
	{{shiftLeader.operator.team.name }}
	{% set uap = shiftLeader.operator.uaps|first %}
	{{uap.name}}
</div>

{{ delete_form('shiftLeaders', shiftLeader.id, 'app_iluo_shiftleaders_general_elements_admin') }}
