{% block stylesheets %} {{ encore_entry_link_tags("style") }} {% endblock %} {% block javascripts %} {{ encore_entry_script_tags("style") }} {% endblock %}
<!DOCTYPE html>
<html>

<head class="d-flex">
    <meta charset="UTF-8" />
    <title>C'est Hess Hess!</title>
    <meta name="La page du C'est Hess Hess" content="La petite page marron" /> 
</head>

<body>
    <header>
        <img src="{{asset('Plastic_Omnium.svg')}}" alt="Le logo" width="60%">
        <h1>C'est Hess Hess!</h1>
        <nav>
            <ul>
                <li><a href="{{path('app_css')}}">IndexCSS</a></li>
                <li><a href="{{path('app_menu')}}">MenuCSS</a></li>
                <li><a href="{{path('app_contact')}}">ContactCSS</a></li>
            </ul>
        </nav>
        <p>
            <h4>
                La page du C'est Hess Hess
            </h4>
        </p>
        <p>
            <h5>
                La petite page marron
            </h5>
        </p>
    </header>
    <article>
        <h2>Le C'est Hess Hess</h2>
        <p>
            Le C'est Hess Hess est un bar à bières situé à Strasbourg, dans le quartier de la Petite France.
        </p>
        <p>
            Il est situé au 1 rue du C'est Hess Hess, 67000 Strasbourg.
        </p>
        <p>
            Il est ouvert du lundi au samedi de 11h à 2h du matin.
        </p>
        <p>
            Il est fermé le dimanche.
        </p>
        <hr>
        <p>
            Il est situé à 5 minutes à pied de la gare de Strasbourg.
        </p>
        <p>
            Il est situé à 10 minutes à pied de la cathédrale de Strasbourg.
        </p>
        <p>
            Il est situé à 15 minutes à pied de la place Kléber.
        </p>
        <p>
            Il est situé à 20 minutes à pied de la place Gutenberg.
        </p>
        <hr>
        <p>
            Il est situé à 25 minutes à pied de la place Broglie.
        </p>
        <p>
            Il est situé à 30 minutes à pied de la place de la République.
        </p>
        <p>
            Il est situé à 35 minutes à pied de la place de la Gare.
        </p>
        <p>
            Il est situé à 40 minutes à pied de la place de la Bourse.
        </p>

    </article>
    <footer>
        <address>
            1 rue du C'est Hess Hess, 67000 Strasbourg
        </address>
    </footer>

</body>

</html>