<p>
	Bonjour,
</p>
<p>
	Vous avez
	{{ uploads|length }}
	validation(s) à effectuer.
	{% for upload in uploads %}
		<li>
			<strong>
				<i>
					{{upload.filename}}
				</i>
			</strong>
			uploadé le
			<strong>
				<i>
					{{upload.uploadedAt|date('d/m/Y') }}
				</i>
			</strong>


			par
			<strong>
				{{upload.uploader.username|capitalize|split('.')|first}}
				{{upload.uploader.username|upper|split('.')|last }}
			</strong>
		</li>
	{% endfor %}
</p>
<p>
	Vous pouvez accéder au document en vous connectant à l'application en cliquant sur le lien suivant :
	<a
		class='btn-info'
		href='http://{{ hostname|lower }}/docauposte/login'>
		Page de connexion
	</a>
</p>
<p>
	Cordialement
</p>
