{% extends 'base.html.twig' %}

{% block title %}BaseViewModification
{% endblock %}

{% block body %}
	<script>
		$(document).ready(function () { // Stop event propagation for inputs inside accordion buttons
$('.button input, .button select').on('click', function (e) {
e.stopPropagation();
});

// Additionally, if you want to prevent the accordion from acting when the input or select gains focus
$('.button input, .button select').on('focus', function (e) {
e.stopPropagation();
});
});
	</script>
	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row">
				<div class="card border-0 shadow rounded-3 my-5 bg-secondary">
					<div class="card-body">
						<div class="row d-flex align-items-center gy-lg-0 gy-5">
							<form class="form row" method="post" action="{{path('app_views_modification')}}">
								<div class="accordion col-11 mx-auto justify-content-center" id="accordionViewsMod">
									{% for zone in zones %}
										<div class="accordion-item shadow-lg shadow-lg-inset border border-dark rounded-3">

											<button class="accordion-button collapsed" id="zoneViewsMod{{ zone.id }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZoneViewsMod{{zone.id}}" aria-expanded="false" aria-controls="collapseZoneViewsMod{{zone.id}}">
												{{zone.name}}
												<input type="text" name="zoneName{{zone.id}}" value="{{zone.name}}" class="" id="zoneName{{zone.id}}" placeholder="Nom de la zone">
												<select name="zoneSortOrder{{zone.id}}" value="{{zone.sortOrder}}" class="" id="zoneSortOrder{{zone.id}}" placeholder="Placement de la zone"></select>

											</button>

											<div id="collapseZoneViewsMod{{zone.id}}" class="accordion-collapse collapse" aria-labelledby="zoneViewsMod" data-bs-parent="#accordionViewsMod">
												<div class="accordion-body">
													{% for productLine in zone.productLines %}
														<div class="accordion" id="productLineAccordionViewsMod{{ productLine.id }}">
															<div class="accortion-item shadow-lg shadow-lg-inset border border-dark rounded-3">


																<button class="accordion-button collapsed" id="productLineViewsMod{{ productLine.id }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProductLineViewsMod{{productLine.id}}" aria-expanded="false" aria-controls="collapseProductLineViewsMod{{productLine.id}}">
																	{{productLine.name|split('.')|first}}
																	<input type="text" name="productLineName{{ productLine.id }}" value="{{productLine.name|split('.')|first}}" class="" id="productLineName{{ productLine.id }}" placeholder="Nom de la productLine">


																	<select name="productLineSortOrder{{ productLine.id }}" value="{{productLine.sortOrder}}" class="" id="productLineSortOrder{{ productLine.id }}" placeholder="Placement de la productLine"></select>


																</button>
																<div id="collapseProductLineViewsMod{{ productLine.id }}" class="accordion-collapse collapse" aria-labelledby="productLineViewsMod" data-bs-parent="#collapseZoneViewsMod{{ zone.id }}">
																	<div class="accordion-body">


																		{% for category in productLine.categories %}
																			<div class="accordion" id="categoryAccordionViewsMod{{ category.id }}">
																				<div class="accordion-item shadow-lg shadow-lg-inset border border-dark rounded-3">

																					<button class="accordion-button collapsed" id="categoryViewsMod{{ category.id }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategoryViewsMod{{category.id}}" aria-expanded="false" aria-controls="collapseCategoryViewsMod{{category.id}}">
																						{{category.name|split('.')|first}}
																						<input type="text" name="categoryName{{ category.id }}" value="{{category.name|split('.')|first}}" class="" id="categoryName{{ category.id }}" placeholder="Nom de la categorie">
																						<select name="categorySortOrder{{ category.id }}" value="{{category.sortOrder}}" class="" id="categorySortOrder{{ category.id }}" placeholder="Placement de la categorie"></select>

																					</button>
																					<div id="collapseCategoryViewsMod{{ category.id }}" class="accordion-collapse collapse" aria-labelledby="categoryViewsMod" data-bs-parent="#collapseproductLineViewsMod{{ productLine.id }}">
																						<div class="shadow-lg shadow-lg-inset border border-dark rounded-3">
																							{% for button in category.buttons %}
																								<div>
																									<div class="accordion-body">
																										{{button.name|split('.')|first}}
																										<input type="text" name="buttonName{{ button.id }}" value="{{button.name|split('.')|first}}" class="" id="buttonName{{ button.id }}" placeholder="Nom du bouton">
																										<select name="buttonSortOrder{{ button.id }}" value="{{button.sortOrder}}" class="" id="buttonSortOrder{{ button.id }}" placeholder="Placement du bouton"></select>

																									</div>
																								</div>
																							{% endfor %}
																						</div>
																					</div>
																				</div>
																			</div>
																		{% endfor %}
																	</div>
																</div>
															</div>
														</div>
													{% endfor %}
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
								<div class="d-grid gap-2 d-md-flex justify-content-md-center mt-5">
									<button type="submit" class="btn btn-primary mb-3 submit-upload-modification">Modifier</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
