{% extends 'base.html.twig' %}

{% block title %}BaseViewModification
{% endblock %}
{% block body %}
	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row">
				<div class="card border-0 shadow rounded-3 my-5 bg-secondary">
					<div class="card-body">
						<div class="row d-flex align-items-center gy-lg-0 gy-5">
							<form class="form row" method="post" action="{{path('app_views_modification')}}">
								<div class="accordion col-11 mx-auto justify-content-center" id="accordionViewsMod">
									{% for zone in zones %}
										<div class="accordion-item shadow-lg shadow-lg-inset border border-dark rounded-3">

											<button class="accordion-button collapsed" id="zoneViewsMod{{ zone.id }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZoneViewsMod{{zone.id}}" aria-expanded="false" aria-controls="collapseZoneViewsMod{{zone.id}}">
												{{zone.name}}
												<input type="text" name="zoneName" value="{{zone.name}}" class="" id="zoneName" placeholder="Nom de la zone">
												<input type="select" name="zoneSortOrder" value="{{zone.sortOrder}}" class="" id="zoneSortOrder" placeholder="Placement de la zone">
											</button>
											<div id="collapseZoneViewsMod{{zone.id}}" class="accordion-collapse collapse" aria-labelledby="zoneViewsMod" data-bs-parent="#accordionViewsMod">
												<div class="accordion-body">
													{% for productLine in zone.productLines %}
														<div class="accordion" id="productLineAccordionViewsMod{{ productLine.id }}">
															<div class="accortion-item shadow-lg shadow-lg-inset border border-dark rounded-3">


																<button class="accordion-button collapsed" id="productLineViewsMod{{ productLine.id }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProductLineViewsMod{{productLine.id}}" aria-expanded="false" aria-controls="collapseProductLineViewsMod{{productLine.id}}">
																	{{productLine.name|split('.')|first}}
																	<input type="text" name="productLineName" value="{{productLine.name|split('.')|first}}" class="" id="productLineName" placeholder="Nom de la productLine">
																	<input type="select" name="productLineSortOrder" value="{{productLine.sortOrder}}" class="" id="productLineSortOrder" placeholder="Placement de la productLine">
																</button>
																<div id="collapseProductLineViewsMod{{ productLine.id }}" class="accordion-collapse collapse" aria-labelledby="productLineViewsMod" data-bs-parent="#collapseZoneViewsMod{{ zone.id }}">
																	<div class="accordion-item shadow-lg shadow-lg-inset border border-dark rounded-3">


																		{% for category in productLine.categories %}
																			<div class="accordion" id="categoryAccordionViewsMod{{ category.id }}">
																				<div class="accordion-item">
																					<button class="accordion-button collapsed" id="categoryViewsMod{{ category.id }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategoryViewsMod{{category.id}}" aria-expanded="false" aria-controls="collapseCategoryViewsMod{{category.id}}">
																						{{category.name|split('.')|first}}
																						<input type="text" name="categoryName" value="{{category.name}}" class="" id="categoryName" placeholder="Nom de la categorie">
																						<input type="select" name="categorySortOrder" value="{{category.sortOrder}}" class="" id="categorySortOrder" placeholder="Placement de la categorie">
																					</button>
																					<div id="collapseCategoryViewsMod{{ category.id }}" class="accordion-collapse collapse" aria-labelledby="categoryViewsMod" data-bs-parent="#collapseproductLineViewsMod{{ productLine.id }}">
																						<div class="accordion-item shadow-lg shadow-lg-inset border border-dark rounded-3">

																							{% for button in category.buttons %}
																								<div>
																									{{button.name|split('.')|first}}
																									<input type="text" name="buttonName" value="{{button.name}}" class="" id="buttonName" placeholder="Nom du bouton">
																									<input type="select" name="buttonSortOrder" value="{{button.sortOrder}}" class="" id="buttonSortOrder" placeholder="Placement du bouton">
																								</div>
																							{% endfor %}
																						</div>
																					</div>
																				</div>
																			</div>
																		{% endfor %}
																	</div>
																</div>
															</div>
														</div>
													{% endfor %}
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
								<div class="d-grid gap-2 d-md-flex justify-content-md-center mt-5">
									<button type="submit" class="btn btn-primary mb-3 submit-upload-modification">Modifier</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
