<turbo-frame
	id="qualityrep-section"
	class="container row mx-auto px-0 px-md-2">
	{{ form_start(qualityRepForm, { attr: {class: 'col-lg-6 col-md-12 col-sm-12 d-flex flex-column ', method: 'POST', action: path('app_iluo_qualityrep_general_elements_admin')}}
	) }}
	<div
		class="col-12">
		{{ form_label(qualityRepForm.user) }}
		{{ form_widget(qualityRepForm.user) }}
		{{ form_widget(qualityRepForm.save) }}
	</div>
	<div
		id="flash-messages">
		{% for label, messages in app.flashes %}
			<div
				class="alert alert-{{ label }}">
				{% for message in messages %}
					<p>
						{{ message }}
					</p>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	{{ form_end(qualityRepForm) }}
	{% if qualityRep is not empty %}
		<div
			class="col-lg-6 col-md-12 col-sm-12 mt-auto mb-auto accordion"
			id="accordionQualityRepList">
			<div
				class="accordion-item shadow-lg shadow-lg-inset border border-dark">
				<h2
					class="accordion-header"
					id="headingQualityRepList">
					<button
						class="accordion-button bg-white text-dark collapsed"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#collapseQualityRepList"
						aria-expanded="false"
						aria-controls="collapseQualityRepList">
						<strong>
							Liste des QualityRep
						</strong>
					</button>
				</h2>
				<div
					id="collapseQualityRepList"
					class="accordion-collapse collapse "
					aria-labelledby="headingQualityRepList"
					data-bs-parent="#accordionQualityRepList">
					<div
						class="accordion-body bg-white text-dark">
						<ul
							class="list-group">
							{% for qualityRep in qualityRep %}
								<li
									class="list-group-item bg-white text-dark d-flex justify-content-between align-items-center">
									<div
										class="flex-grow-1">
										<strong
											class="flex-grow-1">
											{{qualityRep.user.username|capitalize|split('.')|first }}
											{{qualityRep.user.username|upper|split('.')|last }}
										</strong>
									</div>
									{% if qualityRep.user.operator is defined and qualityRep.user.operator is not empty %}
										<div>
											{{qualityRep.user.operator.team.name }}
											{% set uap = qualityRep.user.operator.uaps|first %}
											{{uap.name}}
										</div>
									{% elseif qualityRep.user.department is defined and qualityRep.user.department is not empty %}
										<div>
											{{qualityRep.user.department.name}}
										</div>
									{% endif %}
									{% if is_granted('ROLE_SUPER_ADMIN') %}
										<a
											id="modify_user_account"
											href="{{path('app_account_modify_account', {userId: qualityRep.user.id})}}" aria-label="Modify the User Entity"
											data-turbo-frame="_top"
											class="btn btn-info m-1 tooltips-above">
											<span
												class="d-none d-md-inline">
												UserMod
											</span>
											<i
												class="fas fa-pen-to-square d-inline d-md-none"
												aria-hidden="true"
												title="	Modifier"></i>
											<span
												class="visually-hidden">
												UserMod
											</span>
										</a>
										{{ delete_form('qualityRep', qualityRep.id, 'app_iluo_qualityrep_general_elements_admin') }}
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
</turbo-frame>
