{% extends 'base.html.twig' %}
{% block title %}
	{{incident.name|split('.')|first|capitalize}}
	|
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>{{incident.name|split('.')|first|capitalize}}</h1>
				<p>{{incident.type.name}}</p>
				<p>
					<a href="{{path('incident_edit', {'id': incident.id})}}">Edit</a>
				</p>
			</div>
		</div>


	{% endblock %}
