<div class="  align-items-center  text-white bg-secondary my-5 py-4 text-center mydropzone">
	<h5>
		<strong>
			Liste des documents :
		</strong>
	</h5>
	{% if (groupincidents is defined) and (groupincidents is not empty)  %}

		{% for zoneName, zone in groupincidents %}

			Zone:
			{{ zoneName|split('.')|first|upper }}
			>
			{% for productLineName, productLine in zone %}
				Produit:
				{{ productLineName|split('.')|first|upper }}
				>

				{% for incident in productLine %}
					<li class="form-control shadow d-flex justify-content-between align-items-center mb-3">
						<a href="{{ path('app_incident_download_file', { 'name': incident.name }) }}" class="btn btn-link" target="_blank">
							-
							{{ incident.name }}
							-
							{{ incident.uploadedAt|date('d/m/Y') }}
							<span class="visually-hidden">{{ incident.id }}</span>
						</a>
						<a href="{{ path('app_incident_modify_file', {'incidentId': incident.id}) }}" class="btn btn-modify">
							Modifier
						</a>
						{% if  is_granted('ROLE_LINE_ADMIN') %}
							<a href="{{ path('app_incident_delete_file', { name: incident.name, productline: incident.productline.id }) }}" class="btn btn-danger delete-incident">
								Supprimer
								<span class="visually-hidden">{{ incident.id }}</span>
							</a>
						{% endif %}
					</li>
				{% endfor %}
			{% endfor %}
		{% endfor %}
	{% else %}
		<div class="alert alert-danger">
			<a href="{{path('app_base')}}">
				Il n'y a pas de documents disponible
			</a>
		</div>
	{% endif %}
</div>
