{% extends 'base.html.twig' %}
{% block title %}
	{{productLine.name|split('.')|first|capitalize}}
	|
	{{ parent() }}
{% endblock %}
{% block body %}
	{% for incident in incidents %}
		<div>
			<h1>{{incident.incidenttype.name|split('.')|first|capitalize}}</h1>
			<h2>{{incident.name|split('.')|first|capitalize}}</h2>
			<iframe src="{{ path('app_incident_download_file', { 'name': incident.name }) }}" width="100%" height="970" target="_blank"></iframe>
			<input class="checkbox-input" type="checkbox" id="checkbox{{ loop.index }}">
		</div>
	{% endfor %}
	<input class="text-input" type="text" id="inputField" style="display: none;" placeholder="Enter text here...">
	<button id="nextButton" style="display: none;">Next</button>
{% endblock %}
{% block javascript %}
	{{ encore_entry_script_tags('incident-checkbox-signature') }}
{% endblock %}
