{% block stylesheets %}
	{{
		encore_entry_link_tags("app")
        }}
{% endblock %}

{% block javascripts %}
	{{
		 encore_entry_script_tags('confirmation') 
		 }}
{% endblock %}


{% block body %}
	<div class="d-flex align-items-center  flex-row">

		<iframe src="{{ path('app_validation_approbation_file', { 'approbationId': approbation.id }) }}" width="69%" height="950" target="_blank"></iframe>
		<div style="width: 31%" class="text-center">
			{% block title %}Validation Page par
				{{user.username}}
			{% endblock %}
			<h2 style="text-align: center;">
				<strong>{{approbation.validation.upload.filename|split('.')|first|upper}}</strong>
			</h2>

			<h3 style="text-align: center;">
				{{approbation.validation.upload.button.name|split('.')|first|upper}}
			</h3>

			<div style="height: 5vh;"></div>
			<form class=" d-grid mx-auto " method="post" action="{{ path('app_validation_approval', { 'approbationId': approbation.id }) }}" enctype="multipart/form-data">

				<input type="radio" class="btn-check" name="approvalRadio" id="success-outlined" autocomplete="off" value="true" checked>
				<label class="btn btn-outline-success" for="success-outlined">Approuver</label>

				<input type="radio" class="btn-check" name="approvalRadio" id="danger-outlined" autocomplete="off" value="false">
				<label class="btn btn-outline-danger" for="danger-outlined">Désapprouver</label>
				<div class="input-group ">
					<div class="input-group-prepend">
						<span class="input-group-text">Commentaire</span>

						<textarea class="form-control" name="approbationComment" aria-label="With textarea"></textarea>
					</div>
				</div>
				<button type="submit" class="btn btn-primary btn-lg submit-approval">Envoyer</button>
			</form>

			<div style="height: 5vh;"></div>


		</div>
	</div>
{% endblock %}
