{% block stylesheets %}
	{{
		encore_entry_link_tags("app")
        }}
{% endblock %}

{% block javascripts %}

	{{ encore_entry_script_tags('app') }}
	{{ encore_entry_script_tags('document-validator') }}
	{{ encore_entry_script_tags('confirmation') }}
	{{ encore_entry_script_tags('toast') }}
	{{ encore_entry_script_tags('incident-cascading-dropdowns') }}
	{{ encore_entry_script_tags('cascading-dropdowns') }}
	{{ encore_entry_script_tags('department-creation') }}
{% endblock %}
<head>
	<meta
		charset="UTF-8"/>
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1">
	<link
		rel="icon"
		type="image/ico"
		href="{{ asset('OPmobility_icon.svg') }}"/>
</head>
{% block body %}


	<div
		class=" d-flex align-items-center flex-row"
		style="background-color:#0E3571;">

		<iframe
			src="{{ path('app_validation_approbation_file', { 'approbationId': approbation.id }) }}" class=" vh-100"
			width="69%"
			target="_blank"></iframe>
		<div
			style="width: 32%"
			class="text-center">
			{% include 'services/validation/approbation_components/_approbationWindow.html.twig' %}
		</div>
	</div>
{% endblock %}
