{% extends 'base.html.twig' %}
{% block title %}
	{{upload.filename}}
	|
	{{ parent() }}
{% endblock %}
{% block body %}


	{% block javascripts %}

		{{ parent() }}
		{{ encore_entry_script_tags('cascading-dropdowns') }}
		{{ encore_entry_script_tags('document-validator') }}

	{% endblock %}

	<div>
		<aside
			class="position-absolute end-0">
			<a
				href="{{ path('app_productLine_admin', {productLineId: upload.button.category.productLine.id}) }}" class="btn shadow bg-dark"
				style="color:white">
				<span
					class="fa fa-gear"></span>
				<strong>
					<span
						class="button-text">
						Centre d'Admin de
						{{upload.button.category.productLine.name|split('.')|first|upper}}
						de la zone
						{{upload.button.category.productLine.zone.name|split('.')|first|upper}}
					</span>
				</strong>
			</a>
		</aside>
	</div>
	<div
		class="card border-0 shadow rounded-3 my-5 bg-secondary">
		<div
			class="card-body ">
			<div
				class="row d-flex align-items-center gy-lg-0 gy-5">
				<div>
					<p
						class="text-white m-0">
						<h3
							style="color:white">
							Modification du fichier
							<strong>
								{{upload.filename}}
							</strong>
							:
						</h3>
					</p>
				</div>

				{{ form_start(form, {'attr': {'class': 'form-floating justify-content-center', 'id': 'modifyDisapprovedForm','method' : 'POST', 'enctype': 'multipart/form-data'}, 'action': path('app_validation_disapproved_modify_by_upload', {'uploadId': upload.id})}) }}

				<div
					class="fallback"
					data-controller="filename-validation">
					{% set toBeCorrected = [] %}
					{% for upload in app.user.uploads %}
						{% if upload.isValidated is same as (false) %}
							{% set toBeCorrected = toBeCorrected|merge([upload]) %}
						{% endif %}
					{% endfor %}
					{% if toBeCorrected|length - 1 > 0  %}
						<div
							class=" alert alert-info">
							<strong>
								Il reste
								<span
									class="badge bg-danger rounded-pill">
									{{toBeCorrected|length - 1}}
								</span>
								document(s) à modifier
							</strong>
						</div>
					{% endif %}
					<div
						class="alert alert-info">
						Refus faisant suite à la modification du document par
						<u>
							{{upload.uploader.username|capitalize|split('.')|first }}
							{{upload.uploader.username|upper|split('.')|last }}
						</u>
						le
						{{upload.uploadedAt|date('d/m/y')}}
						avec le commentaire suivant  :
						<br>
						<blockquote>
							<i>
								"
								{{upload.validation.comment}}
								"
							</i>
						</blockquote>
					</div>
					<div
						class="alert alert-danger">
						{% for approbation in approbations %}
							{% if approbation.comment is not empty and approbation.approval is same as (false) %}
								<blockquote
									class="blockquote text-center">
									<cite
										title="Source Title"
										style="color:black">
										Commentaire de refus
									</cite>
									<p
										class="mb-2">
										{{approbation.comment}}
									</p>
									<footer
										class="blockquote-footer"
										style="color:black">
										{{approbation.UserApprobator.username|capitalize|split('.')|first }}
										{{approbation.UserApprobator.username|upper|split('.')|last }}

									</footer>
								</blockquote>
							{% endif %}
							{% if approbation.comment is not empty and approbation.approval is same as (true) %}
								<blockquote
									class="blockquote text-center">
									<cite
										title="Source Title"
										style="color:black">
										Commentaire de validation
									</cite>
									<p
										class="mb-2">
										{{approbation.comment}}
									</p>
									<footer
										class="blockquote-footer"
										style="color:black">
										{{approbation.UserApprobator.username|capitalize|split('.')|first }}
										{{approbation.UserApprobator.username|upper|split('.')|last }}
									</footer>
								</blockquote>
							{% endif %}
						{% endfor %}
					</div>
					<div
						class="ratio ratio-4x3">
						<iframe
							src="{{ path('app_download_invalidation_file', { uploadId: upload.id }) }}" target="_blank"></iframe>
					</div>
					<hr
						class="my-4">
					<div
						class="row justify-content-center">

						<div
							class="col-8">
							{{ form_label(form.file, 'Choisissez un ficher à ajouter :', {'label_attr': {'class': 'form-label', 'style': 'color:white'}}
							) }}

							{{ form_widget(form.file, {'attr': {'class': 'form-control', 'id': 'file', 'accept' : '.pdf'}}
							) }}
							<div
								data-filename-validation-target="message"
								class="filename-message"></div>
							<div
								class="d-flex align-items-left mt-2 ">
								{{ include('services/operators/training_toggles/training_toggle_component.html.twig', {checkStatus: false}) }}
							</div>
						</div>
					</div>

					{% include "services/uploads/uploads_components/modifications_components/uploads_other_modifications.html.twig" %}

					<div
						class="d-grid col-8 mt-2 mx-auto">
						<div
							class="input-group  justify-content-center">
							<div
								class="input-group-prepend">
								<span
									class="input-group-text">
									Commentaire
								</span>
								<textarea
									class="form-control"
									name="modificationComment"
									aria-label="textarea"
									rows="2"
									cols="50"
									required></textarea>
							</div>
						</div>
					</div>

					<div
						class="d-grid w-75 mx-auto">
						<div
							class="card border-5 shadow rounded-3 mt-2 "
							style="display: inline-block;">
							<div
								class="card-body d-flex ">
								<div
									class="container text-center">
									<div
										class="row">
										<div
											class="col-12">
											Modification de
										</div>
									</div>
									<div
										class="row">
										<div
											class="col-6 right-line"></div>
										<div
											class="col-6"></div>
									</div>
									<div
										class="row">
										<div
											class="col-2 right-line"></div>
										<div
											class="col-4 top-line"></div>
										<div
											class="col-4 right-line top-line"></div>
										<div
											class="col-2"></div>
									</div>
									<div
										class="row">
										<div
											class="col-1"></div>
										<div
											class="col-2 d-flex align-items-center justify-content-center ">
											Semantique
											<br>
											Orthographe
											<br>
											Grammaire
											<br>
											Pb. Majuscule
										</div>
										<div
											class="col-1"></div>
										<div
											class="col-4"></div>
										<div
											class="col-1"></div>
										<div
											class="col-2">
											Processus
											<div
												class="col-6 right-line"></div>
											<div
												class="col-6 right-line"></div>
											<div
												class="col-6 right-line"></div>
										</div>
										<div
											class="col-1"></div>
									</div>
									<div
										class="row">
										<div
											class="col-2 right-line"></div>
										<div
											class="col-4 "></div>
										<div
											class="col-4 right-line "></div>
										<div
											class="col-2"></div>
									</div>
									<div
										class="row">
										<div
											class="col-1"></div>
										<div
											class="col-2">
											<input
												type="radio"
												class=" btn-check"
												name="modification-outlined"
												id="success-outlined"
												autocomplete="off"
												value="light-modification"
												checked>
											<label
												class="btn btn-outline-success mb-0 mt-0"
												for="success-outlined">
												Modification Mineure
											</label>
										</div>
										<div
											class="col-1"></div>
										<div
											class="col-4"></div>
										<div
											class="col-1"></div>
										<div
											class="col-2">
											<input
												type="radio"
												class=" btn-check"
												name="modification-outlined"
												id="danger-outlined"
												autocomplete="off"
												value="heavy-modification">
											<label
												class="btn btn-outline-danger mb-0 mt-0"
												for="danger-outlined">
												Modification Majeure
											</label>
										</div>
										<div
											class="col-1"></div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div
						class="d-grid gap-2 d-md-flex justify-content-md-center mt-5">
						<button
							type="submit"
							class="btn btn-primary mb-5 submit-disapproval-modification">
							Modifier
						</button>
					</div>

					{{ form_end(form) }}

				</div>
			</div>
		</div>
	</div>
{% endblock %}
