{% if is_granted('ROLE_SUPER_ADMIN') %}

	<div
		class="accordion-item">

		<h2
			class="accordion-header"
			id="headingSettings">
			<button
				class="accordion-button fs-3 collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#collapseSettings"
				aria-expanded="true"
				aria-controls="collapseSettings">
				<strong>
					Formulaire de paramétrage de l'application :
				</strong>
			</button>
		</h2>
		<div
			id="collapseSettings"
			class="accordion-collapse collapse"
			aria-labelledby="headingSettings"
			data-bs-parent="#accordionAdmin">
			<div
				class="accordion-body accordion-bg shadow shadow-inset">
				<div
					class="card border-0 shadow rounded-3 my-5">
					<div
						class="card-body">

						<div
							class="card border-0 shadow rounded-3 my-5  mx-auto  bg-secondary">
							<div
								class="card-body">
								{% form_theme settingsForm.settingsDateInterval 'bootstrap_5_layout.html.twig' %}
								{{ form_start(settingsForm, {
                                    'attr': {
                                        'class': 'd-flex flex-column justify-content-center',
                                        'id': 'settingsForm',
                                        'method' : 'POST',
                                        'enctype': 'multipart/form-data'
                                    },
                                    'action': path('app_settings_update')
                                }) }}
								<hr
									class="my-4">

								<h2
									style="color: white;">
									Paramètres de la validation
								</h2>

								<div
									class="d-flex flex-wrap justify-content-around<">
									<div
										class="col-6 mx-auto d-flex align-items-center justify-content-center card bg-secondary border-5 shadow">
										{{ form_label(settingsForm.uploadValidation, 'Validation des fichiers chargés:', {
													'label_attr': {'class': 'text-white m-0'}
												}) }}
										{{ form_widget(settingsForm.uploadValidation) }}
									</div>
									<div
										class="col-6 mx-auto d-flex align-items-center justify-content-center card bg-secondary border-5 shadow">
										{{ form_label(settingsForm.validatorNumber, 'Nombre de validateurs:', {
													'label_attr': {'class': 'text-white m-0'}
												}) }}
										{{ form_widget(settingsForm.validatorNumber) }}
									</div>
								</div>

								<hr
									class="my-4">

								<h2
									style="color: white;">
									Paramètres des Incidents
								</h2>

								<div
									class=" d-flex justify-content-around flex-wrap">
									<div
										class="col-6 mx-auto d-flex align-items-center justify-content-center card bg-secondary border-5 shadow">
										{{ form_label(settingsForm.incidentAutoDisplay, 'Affichage automatique des incidents:', {
													'label_attr': {'class': 'text-white m-0'}
												}) }}
										{{ form_widget(settingsForm.incidentAutoDisplay) }}
									</div>
									<div
										class="col-6 mx-auto d-flex align-items-center justify-content-center card bg-secondary border-5 shadow">
										{{ form_label(settingsForm.settingsDateInterval.incidentAutoDisplayTimer, 'Délai d\'affichage automatique des incidents (en minutes):', {
												'label_attr': {'class': ' mx-auto d-flex align-items-center justify-content-center bg-secondary text-white m-0'}
											}) }}
											{{ form_widget(settingsForm.settingsDateInterval.incidentAutoDisplayTimer) }}										
										</div>
									</div>

									<hr
										class="my-4">

									<h2 style="color: white;">Paramètres des Opérateurs</h2>

									<div
										class=" d-flex justify-content-around flex-wrap">
										<div class="col-6 mx-auto d-flex align-items-center justify-content-center card bg-secondary border-5 shadow">
											{{ form_label(settingsForm.training, 'Activation des signatures Opérateur:', {
												'label_attr': {'class': 'text-white m-0'}
											}) }}
											{{ form_widget(settingsForm.training) }}										
										</div>
										<div class="col-6 mx-auto d-flex align-items-center justify-content-center card bg-secondary border-5 shadow">
											{{ form_label(settingsForm.settingsDateInterval.operatorRetrainingDelay, 'Délai de déqualification des opérateurs (en mois):', {
												'label_attr': {'class': ' mx-auto d-flex align-items-center justify-content-center bg-secondary  text-white m-0'}
											}) }}
											{{ form_widget(settingsForm.settingsDateInterval.operatorRetrainingDelay) }}										
										</div>
										<div class="col-6 mx-auto d-flex align-items-center justify-content-center card bg-secondary border-5 shadow">
											{{ form_label(settingsForm.settingsDateInterval.operatorInactivityDelay, 'Délai de mise en inactivité des opérateurs (en mois):', {
												'label_attr': {'class': ' mx-auto d-flex align-items-center justify-content-center bg-secondary  text-white m-0'}
											}) }}
											{{ form_widget(settingsForm.settingsDateInterval.operatorInactivityDelay) }}										
										</div>
										<div class="col-6 mx-auto d-flex align-items-center justify-content-center card bg-secondary border-5 shadow">
											{{ form_label(settingsForm.settingsDateInterval.operatorAutoDeleteDelay, 'Délai de suppression automatique des opérateurs après inactivité (en mois):', {
												'label_attr': {'class': ' mx-auto d-flex align-items-center justify-content-center bg-secondary text-white m-0'}
											}) }}
											{{ form_widget(settingsForm.settingsDateInterval.operatorAutoDeleteDelay) }}										
										</div>
										<div class="col-6 mx-auto d-flex align-items-center justify-content-center card bg-secondary border-5 shadow">
											{{ form_label(settingsForm.operatorCodeMethod, 'Utilisation de la methode J-F-Decorse pour les CodeOpé(Avec générateur de code):', {
												'label_attr': {'class': 'text-white m-0'}
											}) }}
											{{ form_widget(settingsForm.operatorCodeMethod) }}										
										</div>
										<div class="col-6 mx-auto d-flex align-items-center justify-content-center card bg-secondary border-5 shadow">
											{{ form_label(settingsForm.operatorCodeRegex, 'Si autre methode que J-F-Decorse, entrer la RegEx (ECMAScript->Javascript) à appliquer:', {
												'label_attr': {'class': 'text-white m-0'}
											}) }}
											{{ form_widget(settingsForm.operatorCodeRegex) }}										
										</div>
										<div class="col-6 mx-auto d-flex align-items-center justify-content-center card bg-secondary border-5 shadow">
											<a href="{{path('app_tabularasa')}}" 
											class="btn btn-danger text-white m-2 delete-all-inactive-operator">
												Supprimer définitivement tous les opérateurs inactifs programmés à la suppression automatique.
											</a>
										</div>
									</div>
									<hr
										class="my-4">
										{{ form_widget(settingsForm.submit, {'attr': {'class': 'btn btn-primary mx-auto submit-settings-modification'}}) }}
								{{ form_end(settingsForm) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
