{% for upload in buttonKey %}
	{% set uploadId = upload.id %}
	<li
		class="list-group-item d-flex justify-content-between align-items-center mb-3 shadow-lg">
		<a
			href="{{ path('app_download_file', { 'uploadId': uploadId }) }}" class="btn btn-link"
			target="_blank"
			data-turbo-frame="_top">
			{{ upload.filename }}
		</a>
		<div
			class="ml-auto">
			<strong>

				{% if upload.uploader is not empty %}
					{{upload.uploader.username|capitalize|split('.')|first }}
					{{upload.uploader.username|upper|split('.')|last }}
				{% else %}
					inconnu
				{% endif %}
				|
			</strong>
			Rev.
			{{upload.revision}}
			|
			{% if upload.validation is not empty %}
				{% if upload.validated is same as(false) %}
					<a
						href="{{path('app_validation', {'uploadId' : uploadId} )}}" data-turbo-frame="_top">
						Refusé
					</a>

				{% else  %}
					{{upload.validated ? 'Validé' : 'En cours de validation'}}

				{% endif %}
				|
			{% else %}
				Sans validation |
			{% endif %}

			{{ upload.uploadedAt|date('d/m/Y') }}
			{% if is_granted('ROLE_LINE_ADMIN') %}
				<a
					href="{{ path('app_modify_file', {'uploadId': uploadId}) }}" class="btn btn-modify shadow "
					data-turbo-frame="_top">
					Modifier
				</a>

				<a
					href="{{ path('app_delete_file', { 'uploadId': uploadId }) }}" class="btn btn-danger delete-upload shadow"
					data-turbo-frame="_top">
					Supprimer
				</a>
			{% endif %}
		</div>
	</li>
{% endfor %}
