{% extends 'base.html.twig' %}

{% block title %}Administration - Category
	{{ category.name|split('.')|first|upper }}
{% endblock %}

{% block body %}


	{% if zoneIdFromServer is not defined %}
		{% if zone is defined and zone is not null %}
			<script>
				zoneIdFromServer = parseInt('{{ zone.getId() }}')
			</script>
		{% endif %}
	{% endif %}

	{% if productLineIdFromServer is not defined %}
		{% if productLine is defined and productLine is not null %}
			<script>
				productLineIdFromServer = parseInt('{{ productLine.getId() }}')
			</script>
		{% endif %}
	{% endif %}

	{% if categoryIdFromServer is not defined %}
		{% if category is defined and category is not null %}
			<script>
				categoryIdFromServer = parseInt('{{ category.getId() }}')
			</script>
		{% endif %}
	{% endif %}

	{% if buttonIdFromServer is not defined %}
		{% if button is defined and button is not null %}
			<script>
				buttonIdFromServer = parseInt('{{ button.getId() }}')
			</script>
		{% endif %}
	{% endif %}
	{% if  is_granted('ROLE_LINE_ADMIN') %}
		<aside class="position-absolute end-0 mt-2">
			<a href="{{ path('app_productline_admin', {productline: productLine.name}) }}" class="btn shadow  bg-dark " style="color:white">
				<span class="fa fa-gear"></span>
				<strong>
					<span class="button-text">Centre d'Administration de la Ligne
					</span>
				</strong>
			</a>
		</aside>
	{% endif %}

	<h1 class="my-4">
		<strong>Page d'administration de la catégorie
			{{ category.name|split('.')|first|upper }}</strong>
	</h1>

	{% if is_granted('ROLE_LINE_ADMIN') %}
		<div class="accordion" id="accordionCategory">

			<div class="accordion-item">

				<h2 class="accordion-header" id="headingCategory">
					<button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategory" aria-expanded="true" aria-controls="collapseCategory">
						<strong>Formulaire de création de boutons :</strong>
					</button>
				</h2>
				<div id="collapseCategory" class="accordion-collapse collapse" aria-labelledby="headingCategory" data-bs-parent="#accordionCategory">
					<div class="accordion-body accordion-bg shadow shadow-inset">
						<div class="card border-0 shadow rounded-3 my-5">
							<div class="card-body">
								<div class="row">
									<form class="form-control" method="POST" action="{{ path('app_category_manager_create_button', {category: category.name, id: category.productline.name, name: category.productline.zone.name}) }}">

										<div class="card border-0 shadow rounded-3 my-5  bg-secondary">
											<div class="card-body">
												<div class="row d-flex align-items-center gy-lg-0 gy-5">
													<div class="col-md-6">

														<h5 class="card-title text-center mb-5 fw-light fs-5">
															<strong>
																Création de Boutons</strong>
														</h5>

														<form class="form-floating" method="POST">
															<div class="form-control mb-3">
																<label for="buttonname">Nom du Bouton</label>
																<input type="text" name="buttonname" placeholder="Nom du Bouton" required class="form-control" id="buttonname">
															</div>
															<div class="d-grid">
																<button class="btn btn-primary btn-login text-first|uppercase fw-bold" type="submit">Valider</button>
															</div>
														</form>
													</div>
													<div class="col-md-6">
														<h5 class="card-title text-center mb-5 fw-light fs-5">
															<strong>Liste des boutons de la Catégorie
																{{ category.name|split('.')|first|upper }}:</strong>
														</h5>
														<ul class="list-unstyled">
															{% for button in category.buttons %}
																<li class="form-control d-flex justify-content-between align-items-center mb-2">
																	<a href="{{path('app_button', {button: button.name, category: button.category.name, productline: button.category.productLine.name, zone: button.category.productLine.zone.name})}}" class="btn btn-dark">
																		{{ button.name|split('.')|first|upper }}
																	</a>
																	{% if is_granted ('ROLE_LINE_ADMIN') or app.user is same as( button.creator) %}
																		<a href="{{path('app_category_manager_delete_button', {button: button.name})}}" class="btn btn-danger delete-button">
																			Supprimer
																		</a>
																	{% endif %}
																</li>
															{% else %}
																<li class="alert alert-danger">
																	<a href="#" onclick="event.preventDefault(); window.history.back();">
																		Il n'y a pas de boutons dans cette catégorie.
																	</a>
																</li>
															{% endfor %}
														</ul>
													</div>
												</div>

												<hr class="my-4">
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="accordion-item">
				<h2 class="accordion-header" id="headingUpload">
					<button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUpload" aria-expanded="true" aria-controls="collapseUpload">
						<strong>Formulaire de chargement de fichier :</strong>
					</button>
				</h2>
				<div id="collapseUpload" class="accordion-collapse collapse" aria-labelledby="headingUpload" data-bs-parent="#accordionCategory">
					<div class="accordion-body accordion-bg shadow shadow-inset">
						<div class="card border-0 shadow rounded-3 my-5">
							<div class="card-body">
								<div class="row">

									<form action="{{path('app_generic_upload_files')}}" method="POST" enctype="multipart/form-data">
										{% include "services/uploads/upload.html.twig" %}
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="accordion-item">
				<h2 class="accordion-header" id="headingIncident">
					<button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIncident" aria-expanded="true" aria-controls="collapseIncident">

						<strong>Formulaire d'ajout d'Incident :</strong>
					</button>
				</h2>
				<div id="collapseIncident" class="accordion-collapse collapse" aria-labelledby="headingIncident" data-bs-parent="#accordionCategory">
					<div class="accordion-body accordion-bg shadow shadow-inset">
						<div class="card border-0 shadow rounded-3 my-5">
							<div class="card-body">
								<div class="row">

									<form action="{{path('app_generic_upload_incident_files')}}" method="POST" enctype="multipart/form-data">
										{% include "services/incidents/incidents.html.twig" %}
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="accordion-item">
				<h2 class="accordion-header" id="headingUploadedList">
					<button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUploadedList" aria-expanded="false" aria-controls="collapseUploadedList">
						<strong>Liste des fichiers chargés :</strong>
					</button>
				</h2>
				<div id="collapseUploadedList" class="accordion-collapse collapse" aria-labelledby="headingUploadedList" data-bs-parent="#accordionCategory">
					<div class="accordion-body accordion-bg shadow shadow-inset">
						<div class="row">
							<div>
								{% include "services/uploads/uploaded_list.html.twig" %}
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingValidatedList">
					<button class="accordion-button fs-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseValidatedList" aria-expanded="false" aria-controls="collapseValidatedList">
						<strong>Liste des validations :</strong>
					</button>
				</h2>
				<div id="collapseValidatedList" class="accordion-collapse collapse" aria-labelledby="headingValidatedList" data-bs-parent="#accordionCategory">
					<div class="accordion-body accordion-bg shadow shadow-inset">
						<div class="row">
							<div>
								{% include "services/validation/validation_list.html.twig" %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% endif %}

{% endblock %}
