<div
	class="accordion-item">
	<h3
		class="accordion-header"
		id="headingUserList">
		<button
			class="accordion-button"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#collapseUserList"
			aria-expanded="false"
			aria-controls="collapseUserList">
			<strong>
				Liste des Utilisateurs
			</strong>
		</button>
	</h3>
	<div
		id="collapseUserList"
		class="accordion-collapse collapse"
		aria-labelledby="headingUserList"
		data-bs-parent="#accordionAccountView">
		<div
			class="accordion-body bg-secondary shadow shadow-inset">
			<div
				class=" d-flex align-items-center gy-lg-0 gy-5">
				<div
					class="col-12 mx-auto">
					<div
						class="form-control">
						<div
							class="table-responsive">
							<table
								class="table table-striped text-center">
								<thead>
									<tr>
										<th
											scope="col">
											Nom d'utilisateur
										</th>
										<th
											scope="col">
											Role
										</th>
										<th
											scope="col">
											service
										</th>
										<th
											scope="col">
											Email
										</th>
										<th
											scope="col">
											Modifier
										</th>
										<th
											scope="col">
											Supprimer
										</th>
									</tr>
								</thead>
								<tbody>
									{% for user in users %}
										{% if app.user.id != user.id and compare_roles(app.user.roles, user.roles) %}
											<tr>
												<td>
													{{user.username|capitalize|split('.')|first }}
													{{user.username|upper|split('.')|last }}
												</td>
												<td>
													{{ user.roles|json_encode|convert_encoding('UTF-8', 'UTF-8') }}
												</td>
												<td>
													{{user.department.name ?? 'inconnu' }}
												</td>
												<td>
													{% if user.emailAddress %}
														{{ user.emailAddress }}
													{% else %}
														inconnu
													{% endif %}
												</td>
												<td>
													<a
														href="{{path('app_account_modify_account', {userId: user.id})}}" class="btn btn-danger">
														Modifier
													</a>
												</td>
												<td>
													{% if user.blocked ? true %}
														{% if user.uploads is not empty or user.incidents is not empty %}
															<a
																href="{{path('app_account_modify_account', {userId: user.id})}}" class="btn btn-danger">
																Transfer of works
															</a>
														{% else %}
															<a
																href="{{path('app_account_delete_account', {userId: user.id})}}" class="btn btn-danger definitively-delete-user">
																Supprimer definitivement
															</a>
														{% endif %}
													{% else %}
														<a
															href="{{path('app_account_block_account', {userId: user.id})}}" class="btn btn-danger delete-user">
															Bloquer
														</a>
													{% endif %}
												</td>
											</tr>
										{% endif %}
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
