{% block javascript_data %}
	<script>
		const zonesData = {{ zones|json_encode|raw }};
const productLinesData = {{ productLines|json_encode|raw }};
const categoriesData = {{ categories|json_encode|raw }};
const buttonsData = {{ buttons|json_encode|raw }};
	</script>
{% endblock %}


<div class="row">

	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="zone">Zone :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="zone" id="zone" class="form-select" required>
			<option value="" selected disabled hidden>Choisir une Zone</option>
			{% if (zone is defined) and (zone is not empty) %}
				<option value="{{zone.id}}" selected>{{zone.name}}</option>
			{% else %}
				{% for zone in zones %}
					<option value="{{zone.id}}">{{zone.name}}</option>
				{% endfor %}
			{% endif %}
		</select>
	</div>
	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="productline">Ligne :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="productline" id="productline" class="form-select" required>
			<option value="" selected disabled hidden>Choisir une Ligne</option>
			{% if (productline is defined) and (productline is not empty) %}
				<option value="{{productline.id}}" selected>{{productline.name}}</option>
			{% else %}
				{% for productline in productLines %}
					<option value="{{productline.id}}">{{productline.name}}</option>
				{% endfor %}
			{% endif %}
		</select>
	</div>
	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="category">Categorie :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="category" id="category" class="form-select" required>
			<option value="" selected disabled hidden>Choisir une Catégorie</option>
			{% if (category is defined) and (category is not empty) %}
				<option value="{{category.id}}" selected>{{category.name}}</option>
			{% else %}
				{% for category in categories %}
					<option value="{{category.id}}">{{category.name}}</option>
				{% endfor %}
			{% endif %}
		</select>
	</div>
	<div class="col-md-2 col-sm-2 mt-2 mb-2">
		<label for="button">Bouton :</label>
	</div>
	<div class="col-md-10 col-sm-10 mt-2 mb-2">
		<select name="button" id="button" class="form-select" required>
			<option value="" selected disabled hidden>Choisir un bouton</option>
			{% if (button is defined) and (button is not empty) %}
				<option value="{{button.id}}" selected>{{button.name}}</option>
			{% else %}
				{% for button in buttons %}
					<option value="{{button.id}}">{{button.name}}</option>
				{% endfor %}
			{% endif %}
		</select>
	</div>
</div>
