{% extends 'base.html.twig' %}
{% block title %}
	{{upload.filename}}
	|
	{{ parent() }}
{% endblock %}
{% block body %}
	{% set lastZone = null %}
	{% set lastProductLine = null %}
	{% set lastCategory = null %}
	{% set lastButton = null %}

	<div class="card border-0 shadow rounded-3 my-5 bg-secondary">
		<div class="card-body ">
			<div class="row d-flex align-items-center gy-lg-0 gy-5">
				<p class="text-white m-0">
					<h3 style="color:white">
						Modification du fichier
						<strong>{{upload.filename}}</strong>
						:
					</h3>
				</p>
				{{ form_start(form, {'attr': {'class': 'form-floating justify-content-center', 'id': 'modifyForm','method' : 'POST', 'enctype': 'multipart/form-data'}, 'action': path('app_modify_file', {'uploadId': upload.id})}) }}
				<div class="fallback">
					<div class="mb-3">
						{{ form_label(form.file, 'Select a file to upload:', {'label_attr': {'class': 'form-label', 'style': 'color:white'}}) }}
						{{ form_widget(form.file, {'attr': {'class': 'form-control', 'id': 'file'}}) }}
					</div>

					<div class="mb-3">
						{{ form_label(form.filename, 'Nouveau nom du fichier :', {'label_attr': {'class': 'form-label', 'style': 'color:white'}}) }}
						{{ form_widget(form.filename, {'attr': {'class': 'form-control', 'id': 'filename', 'placeholder': 'Entrer un nouveau nom de fichier (optionnel)'}}) }}
					</div>

					{# Display the current button hierarchy #}
					{% if lastZone != upload.button.category.productLine.zone %}
						{% set lastZone = upload.button.category.productLine.zone %}
						Zone:
						{{ lastZone.name|split('.')|first|capitalize }}
						>
					{% endif %}
					{% if lastProductLine != upload.button.category.productLine %}
						{% set lastProductLine = upload.button.category.productLine %}
						Produit:
						{{ lastProductLine.name|split('.')|first|capitalize }}
						>
					{% endif %}
					{% if lastCategory != upload.button.category %}
						{% set lastCategory = upload.button.category %}
						Categorie:
						{{ lastCategory.name|split('.')|first|capitalize }}
						>
					{% endif %}

					{% if lastButton != upload.button %}
						{% set lastButton = upload.button %}
						Bouton:
						{{ lastButton.name|split('.')|first|capitalize }}
						:
					{% endif %}

					<div class="row">
						<div class="col-md-2 col-sm-2 mt-2 mb-2">
							<label for="zone" style="color:white">Zone :</label>
						</div>
						<div class="col-md-10 col-sm-10 mt-2 mb-2">
							<select name="zone" id="zone" class="form-select" required>
								<option value="" selected disabled hidden>Choisir une Zone</option>
							</select>
						</div>
						<div class="col-md-2 col-sm-2 mt-2 mb-2">
							<label for="productline" style="color:white">Ligne :</label>
						</div>
						<div class="col-md-10 col-sm-10 mt-2 mb-2">
							<select name="productline" id="productline" class="form-select" required>
								<option value="" selected disabled hidden>Choisir une Ligne</option>
							</select>
						</div>
						<div class="col-md-2 col-sm-2 mt-2 mb-2">
							<label for="category" style="color:white">Categorie :</label>
						</div>
						<div class="col-md-10 col-sm-10 mt-2 mb-2">
							<select name="category" id="category" class="form-select" required>
								<option value="" selected disabled hidden>Choisir une Catégorie</option>
							</select>
						</div>
						<div class="col-md-2 col-sm-2 mt-2 mb-2">
							<label for="button" style="color:white">Bouton :</label>
						</div>


						<div class="col-md-10 col-sm-10 mt-2 mb-2">
							{{ form_widget(form.button,{'attr': {'class': 'form-select', 'name': 'button', 'id': 'upload_button', 'required': true}}) }}
						</div>
					</div>
				</div>
				<div class="d-grid gap-2 d-md-flex justify-content-md-center mt-5">
					<button type="submit" class="btn btn-primary mb-5">Modifier</button>
				</div>
				{{ form_end(form) }}

			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('cascading-dropdowns') }}
	<script>
		window.onload = function () {
let selectElement = document.getElementById('upload_button');
selectElement.innerHTML = '<option value="" selected disabled hidden>Choisir un bouton</option>';
}
	</script>

	{% block javascript_data %}{% endblock %}
{% endblock %}
