{% block body %}
	<div class="card border-0 shadow rounded-3 my-5 bg-secondary">
		<div class="card-body ">
			<div class="row d-flex align-items-center gy-lg-0 gy-5">

				<div class="col-md-6">
					<p class="text-white m-0">
						Ajouter des fichiers :
					</p>
					<form class="form-floating justify-content-center " id="upload-form" action="{{path('app_generic_upload_files')}}" method="POST" enctype="multipart/form-data">
						<div class="fallback">
							<input name="file" type="file" accept=".pdf" required>
							<div class="mb-3">
								<label for="newFileName" class="form-label">Nom du fichier :</label>
								<input type="text" class="form-control" id="newFileName" name="newFileName" placeholder="Entrer un nouveau nom de fichier (optionnel)">
							</div>
							<div class="row">
								<div class="col-md-2 col-sm-2">
									<label for="button">Bouton :</label>
								</div>
								<div class="col-md-10 col-sm-10">
									<select name="button" id="button" class="form-select" required>
										<option value="" selected disabled hidden>Choisir un bouton</option>
										{% for button in buttons %}
											<option value="{{button.id}}">{{button.name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="d-grid gap-2 d-md-flex justify-content-md-center mt-5">
							<button type="submit" class="btn btn-primary">Charger</button>
						</div>

					</form>
				</div>
				<div class="col-md-6">
					{% for button in buttons %}
						{% set matchinguploads = [] %}
						{% for upload in uploads %}
							{% if upload.button.id is same as(button.id)  %}
								{% set matchinguploads = matchinguploads|merge([upload]) %}
							{% endif %}
						{% endfor %}

						{% if matchinguploads|length > 0 %}
							{% for upload in matchinguploads %}
								<div class="d-flex ps-5 mb-5 mt-5 line-list">
									<a href="{{ path('app_download_file', { 'filename': upload.filename }) }}" target="_blank">
										<span class="line-details">
											-{{ upload.filename }}
											<id={{upload.id}}></id>
										</span>
									</a>
									<a href="{{ path('app_delete_file', { filename: upload.filename, button: upload.button.id }) }}">
										<span class="line-details">
											- Supprimer
											<id={{upload.id}}></id>
										</span>
									</a>
								</div>
							{% endfor %}

						{% else %}
							<div class="alert alert-danger">
								<a href="{{path('app_base')}}">
									Il n'y a pas de documents disponible pour cette ligne.
								</a>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
