{% extends 'base.html.twig' %}
{% block title %}
	{{upload.filename}}
	|
	{{ parent() }}
{% endblock %}
{% block body %}
	{% set lastZone = null %}
	{% set lastProductLine = null %}
	{% set lastCategory = null %}
	{% set lastButton = null %}
	<div class="card border-0 shadow rounded-3 my-5 bg-secondary">
		<div class="card-body ">
			<div class="row d-flex align-items-center gy-lg-0 gy-5">

				<p class="text-white m-0">
					<h3 style="color:white">
						Modifications du fichier
						<strong>{{upload.filename}}</strong>
						:
					</h3>
				</p>
				<form class="form-floating justify-content-center" id="upload-form" action="{{path('app_modify_file', {'uploadId': upload.id})}}" method="POST" enctype="multipart/form-data">
					<div class="fallback">
						<div class="mb-3">
							<label for="file" class="form-label" style="color:white">Select a file to upload:</label>
							<input type="file" class="form-control" id="file" name="formData[file]">
						</div>

						<div class="mb-3">
							<label for="newFileName" class="form-label" style="color:white">Nouveau nom du fichier :</label>
							<input type="text" class="form-control" id="newFileName" name="formData[filename]" placeholder="Entrer un nouveau nom de fichier (optionnel)">
						</div>

						{# Display the current button hierarchy #}
						{% if lastZone != upload.button.category.productLine.zone %}
							{% set lastZone = upload.button.category.productLine.zone %}
							Zone:
							{{ lastZone.name }}
							>
						{% endif %}
						{% if lastProductLine != upload.button.category.productLine %}
							{% set lastProductLine = upload.button.category.productLine %}
							Product Line:
							{{ lastProductLine.name }}
							>
						{% endif %}
						{% if lastCategory != upload.button.category %}
							{% set lastCategory = upload.button.category %}
							Category:
							{{ lastCategory.name }}
							>
						{% endif %}

						{% if lastButton != upload.button %}
							{% set lastButton = upload.button %}
							Button:
							{{ lastButton.name }}
							:

						{% endif %}

						{% include 'services/uploads/cascading_dropdowns.html.twig' %}
					</div>
					<div class="d-grid gap-2 d-md-flex justify-content-md-center mt-5">
						<button type="submit" class="btn btn-primary mb-5">Modifier</button>
					</div>

				</form>

			</div>
		</div>

	</div>

{% endblock %}
{% block javascripts %}

	{{ encore_entry_script_tags('cascading-dropdowns') }}
	{% block javascript_data %}{% endblock %}

{% endblock %}
