<div class="flex-column align-items-center  text-white bg-secondary my-5 py-4 text-center ">
	<h5>
		<strong>
			Liste des documents :
		</strong>
	</h5>

	{% if (groupedUploads is defined) and (groupedUploads is not empty ) %}
		<div id="accordion">
			{% set zoneId = 0 %}
			{% for zoneName, zoneKey in groupedUploads %}
				{% set zoneId = zoneId + 1 %}
				<div class="card">
					<div class="card-header" id="zoneHeading{{ zoneId }}">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#zoneCollapse{{ zoneId }}" aria-expanded="true" aria-controls="zoneCollapse{{ zoneId }}">
								Zone:
								{{ zoneName|split('.')|first|capitalize }}
							</button>
						</h5>
					</div>
					<div id="zoneCollapse{{ zoneId }}" class="collapse {% if zoneId == 1 %}show{% endif %}" aria-labelledby="zoneHeading{{ zoneId }}" data-parent="#accordion">
						<div class="card-body">
							{% set productLineId = 0 %}
							{% for productLineName, productLineKey in zoneKey %}
								{% set productLineId = productLineId + 1 %}
								<div class="card">
									<div class="card-header" id="productLineHeading{{ zoneId }}-{{ productLineId }}">
										<h5 class="mb-0">
											<button class="btn btn-link" data-toggle="collapse" data-target="#productLineCollapse{{ zoneId }}-{{ productLineId }}" aria-expanded="true" aria-controls="productLineCollapse{{ zoneId }}-{{ productLineId }}">
												Produit:
												{{ productLineName|split('.')|first|capitalize }}
											</button>
										</h5>
									</div>
									<div id="productLineCollapse{{ zoneId }}-{{ productLineId }}" class="collapse {% if productLineId == 1 %}show{% endif %}" aria-labelledby="productLineHeading{{ zoneId }}-{{ productLineId }}" data-parent="#zoneCollapse{{ zoneId }}">
										<div class="card-body">
											{% set categoryId = 0 %}
											{% for categoryName, categoryKey in productLineKey %}
												{% set categoryId = categoryId + 1 %}
												<div class="card">
													<div class="card-header" id="categoryHeading{{ zoneId }}-{{ productLineId }}-{{ categoryId }}">
														<h5 class="mb-0">
															<button class="btn btn-link" data-toggle="collapse" data-target="#categoryCollapse{{ zoneId }}-{{ productLineId }}-{{ categoryId }}" aria-expanded="true" aria-controls="categoryCollapse{{ zoneId }}-{{ productLineId }}-{{ categoryId }}">
																Categorie:
																{{ categoryName|split('.')|first|capitalize }}
															</button>
														</h5>
													</div>
													<div id="categoryCollapse{{ zoneId }}-{{ productLineId }}-{{ categoryId }}" class="collapse {% if categoryId == 1 %}show{% endif %}" aria-labelledby="categoryHeading{{ zoneId }}-{{ productLineId }}-{{ categoryId }}" data-parent="#productLineCollapse{{ zoneId }}-{{ productLineId }}">
														<div class="card-body">
															{% for buttonName, buttonKey in categoryKey %}


																Bouton:
																{{ buttonName|split('.')|first|capitalize }}
																>
																{% for upload in buttonKey %}


																	<li class=" form-control shadow d-flex justify-content-between align-items-center mb-3">
																		<a href="{{ path('app_download_file', { 'filename': upload.filename }) }}" class="btn btn-link" target="_blank">
																			-
																			{{ upload.filename }}
																			-
																			{{ upload.uploadedAt|date('d/m/Y') }}
																		</a>
																		{% if  is_granted('ROLE_LINE_ADMIN') %}
																			<div>
																				<a href="{{ path('app_modify_file', {'uploadId': upload.id}) }}" class="btn btn-modify shadow ">
																					Modifier
																				</a>

																				<a href="{{ path('app_delete_file', { filename: upload.filename, button: upload.button.id }) }}" class="btn btn-danger delete-upload">
																					Supprimer
																				</a>
																			</div>
																		{% endif %}
																	</li>


																{% endfor %}
															{% endfor %}
														</div>
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="alert alert-danger">
			<a href="{{path('app_base')}}">
				Il n'y a pas de documents disponible
			</a>
		</div>
	{% endif %}
</div>
