{% block body %}

	<div class="card border-0 shadow rounded-3 my-5 bg-secondary">
		<div class="card-body ">
			<div class="row d-flex align-items-center gy-lg-0 gy-5">

				<div class="col-md-6">
					<p class="text-white m-0">
						Ajouter des fichiers :
					</p>
					<form class="form-floating justify-content-center " id="upload-form" action="{{path('app_generic_upload_files')}}" method="POST" enctype="multipart/form-data">
						<div class="fallback">
							<input name="file" type="file" accept=".pdf" required>
							<div class="mb-3">
								<label for="newFileName" class="form-label">Nom du fichier :</label>
								<input type="text" class="form-control" id="newFileName" name="newFileName" placeholder="Entrer un nouveau nom de fichier (optionnel)">
							</div>
							<div class="row">
								<div class="col-md-2 col-sm-2 mt-2 mb-2">
									<label for="zone">Zone :</label>
								</div>
								<div class="col-md-10 col-sm-10 mt-2 mb-2">
									<select name="zone" id="zone" class="form-select" required>
										<option value="" selected disabled hidden>Choisir une Zone</option>
										{% if (zone is defined) and (zone is not empty) %}
											<option value="{{zone.id}}" selected>{{zone.name}}</option>
										{% else %}
											{% for zone in zones %}
												<option value="{{zone.id}}">{{zone.name}}</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>
								<div class="col-md-2 col-sm-2 mt-2 mb-2">
									<label for="productline">Ligne :</label>
								</div>
								<div class="col-md-10 col-sm-10 mt-2 mb-2">
									<select name="productline" id="productline" class="form-select" required>
										<option value="" selected disabled hidden>Choisir une Ligne</option>
										{% if (productline is defined) and (productline is not empty) %}
											<option value="{{productline.id}}" selected>{{productline.name}}</option>
										{% else %}
											{% for productline in productlines %}
												<option value="{{productline.id}}">{{productline.name}}</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>
								<div class="col-md-2 col-sm-2 mt-2 mb-2">
									<label for="category">Categorie :</label>
								</div>
								<div class="col-md-10 col-sm-10 mt-2 mb-2">
									<select name="category" id="category" class="form-select" required>
										<option value="" selected disabled hidden>Choisir une Catégorie</option>
										{% if (category is defined) and (category is not empty) %}
											<option value="{{category.id}}" selected>{{category.name}}</option>
										{% else %}
											{% for category in categories %}
												<option value="{{category.id}}">{{category.name}}</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>
								<div class="col-md-2 col-sm-2 mt-2 mb-2">
									<label for="button">Bouton :</label>
								</div>
								<div class="col-md-10 col-sm-10 mt-2 mb-2">
									<select name="button" id="button" class="form-select" required>
										<option value="" selected disabled hidden>Choisir un bouton</option>
										{% if (button is defined) and (button is not empty) %}
											<option value="{{button.id}}" selected>{{button.name}}</option>
										{% else %}
											{% for button in buttons %}
												<option value="{{button.id}}">{{button.name}}</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>
							</div>
						</div>
						<div class="d-grid gap-2 d-md-flex justify-content-md-center mt-5">
							<button type="submit" class="btn btn-primary">Charger</button>
						</div>
					</form>
				</div>

				<div class="col-md-6">

					{% include 'services/uploads/uploaded_list.html.twig' %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
