<p>
	<div class="  align-items-center card text-white bg-secondary my-5 py-4 text-center mydropzone">
		{% set matchinguploads = [] %}
		{% for upload in uploads %}
			{% if upload.button.id is same as(button.id)  %}
				{% set matchinguploads = matchinguploads|merge([upload]) %}
			{% endif %}
		{% endfor %}
		<p>
			{% if matchinguploads|length > 0 %}
				{% for upload in matchinguploads %}
					<div class="d-flex ps-5 mb-5 mt-5 line-list">
						<a href="{{path('app_download_file', {filename:upload.filename, button: button.name, category: button.category.name, id: button.category.productLine.name, name: button.category.productLine.zone.name})}}" target="_blank">
							<span class="line-details">
								-{{ upload.filename }}
								<id={{upload.id}}>></span>
							</a>
							<a href="{{path('app_delete_file', {filename:upload.filename, button: button.name, category: button.category.name, id: button.category.productLine.name, name: button.category.productLine.zone.name})}}">
								<span class="line-details">
									- Supprimer
									<id={{upload.id}}>></span>
								</a>
							</div>
						{% endfor %}
					{% else %}
						<div class="alert alert-danger">
							<a href="{{path('app_base')}}">
								Il n'y a pas de documents disponible pour cette ligne.
							</a>
						</div>
						<div class="card-body">
							<p class="text-white m-0">
								Ajouter des fichiers :
							</p>
							<form action="{{path('app_upload_files', {button: button.name, category: button.category.name, id: button.category.productLine.name, name: button.category.productLine.zone.name})}}" method="POST" enctype="multipart/form-data">
								<div class="fallback">
									<input name="file" type="file" multiple/><button type="submit" class="btn btn-primary">Charger</button>
								</div>
							</form>
						</div>
					{% endif %}
				</div>
			</p>
		</p>
	</div>
</p>
