<div class="  align-items-center  text-white bg-secondary my-5 py-4 text-center mydropzone">
	<h1>
		<strong>
			Version fish l'info
		</strong>
	</h1>

	{% if (buttons is defined) and (buttons is not empty) %}
		<div>
			{% for button in buttons %}
				<strong>
					Boutton
					{{ button.name|capitalize }}</strong>
				{% set matchinguploads = uploads|filter(upload => upload.button.id == button.id) %}
				{% if matchinguploads|length > 0 %}
					{% for upload in matchinguploads %}
						<li class="form-control shadow d-flex justify-content-between align-items-center mb-3">
							<a href="{{ path('app_download_file', { 'filename': upload.filename }) }}" class="btn btn-link" target="_blank">
								-
								{{ upload.filename }}
								<span class="visually-hidden">{{ upload.id }}</span>
							</a>
							<a href="{{ path('app_delete_file', { filename: upload.filename, button: upload.button.id }) }}" class="btn btn-danger">
								Supprimer
								<span class="visually-hidden">{{ upload.id }}</span>
							</a>
						</li>
					{% endfor %}
				{% else %}
					<div class="alert alert-danger">
						<a href="{{path('app_base')}}">
							Il n'y a pas de documents disponible pour le bouton
							{{button.name}}
							de la catégorie
							{{button.category.name}}
							de la ligne
							{{button.category.productLine.name}}
							de la zone
							{{button.category.productLine.zone.name}}.
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% else %}
		<div class="alert alert-danger">
			<a href="{{path('app_base')}}">
				Il n'y a pas de documents disponible pour ce bouton.
			</a>
		</div>
	{% endif %}

	<h1>
		<strong>
			Version qui boucle tout les bouttons
		</strong>
	</h1>
	<div>
		{% if (buttons is defined) and (buttons is not empty) %}
			<div>
				{% for button in buttons %}
					<strong>
						Boutton
						{{ button.name|capitalize }}</strong>
					{% set matchinguploads = uploads|filter(upload => upload.button.id == button.id) %}
					{% if matchinguploads|length > 0 %}
						{% for upload in matchinguploads %}
							<li class="form-control shadow d-flex justify-content-between align-items-center mb-3">
								<a href="{{ path('app_download_file', { 'filename': upload.filename }) }}" class="btn btn-link" target="_blank">
									-
									{{ upload.filename }}
									<span class="visually-hidden">{{ upload.id }}</span>
								</a>
								<a href="{{ path('app_delete_file', { filename: upload.filename, button: upload.button.id }) }}" class="btn btn-danger">
									Supprimer
									<span class="visually-hidden">{{ upload.id }}</span>
								</a>
							</li>
						{% endfor %}
					{% else %}
						<div class="alert alert-danger">
							<a href="{{path('app_base')}}">
								Il n'y a pas de documents disponible pour le bouton
								{{button.name}}
								de la catégorie
								{{button.category.name}}
								de la ligne
								{{button.category.productLine.name}}
								de la zone
								{{button.category.productLine.zone.name}}.
							</a>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		{% else %}
			<div class="alert alert-danger">
				<a href="{{path('app_base')}}">
					Il n'y a pas de documents disponible pour ce bouton.
				</a>
			</div>
		{% endif %}
	</div>

	<h1>
		<strong>
			Version grosse boucle
		</strong>
	</h1>

	{% if (zones is defined) and (zones is not empty) %}
		{% for zone in zones %}
			{% if (zone.productLines is not empty) %}
				<strong>Zone
					{{ zone.name|capitalize }}
					></strong>
				{% for productLine in zone.productLines %}
					{% if (productLine.categories is not empty) %}
						<strong>Ligne
							{{ productLine.name|capitalize }}
							></strong>
						{% for category in productLine.categories %}
							{% if (category.buttons is not empty) %}
								<strong>Catégorie
									{{ category.name|capitalize }}
									></strong>
								<div>
									{% for button in category.buttons %}
										<strong>
											Boutton
											{{ button.name|capitalize }}</strong>
										{% set matchinguploads = uploads|filter(upload => upload.button.id == button.id) %}
										{% if matchinguploads|length > 0 %}
											{% for upload in matchinguploads %}
												<li class="form-control shadow d-flex justify-content-between align-items-center mb-3">
													<a href="{{ path('app_download_file', { 'filename': upload.filename }) }}" class="btn btn-link" target="_blank">
														-
														{{ upload.filename }}
														<span class="visually-hidden">{{ upload.id }}</span>
													</a>
													<a href="{{ path('app_delete_file', { filename: upload.filename, button: upload.button.id }) }}" class="btn btn-danger">
														Supprimer
														<span class="visually-hidden">{{ upload.id }}</span>
													</a>
												</li>
											{% endfor %}
										{% else %}
											<div class="alert alert-danger">
												<a href="{{path('app_base')}}">
													Il n'y a pas de documents disponible pour le bouton
													{{button.name}}
													de la catégorie
													{{category.name}}
													de la ligne
													{{productLine.name}}
													de la zone
													{{zone.name}}.
												</a>
											</div>
										{% endif %}
									{% endfor %}
								</div>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	{% else %}
		<div class="alert alert-danger">
			<a href="{{path('app_base')}}">
				Il n'y a pas de documents disponible pour ce bouton.
			</a>
		</div>
	{% endif %}
</p></div></p>
