{% block body %}

				{% if (groupedUploads is defined) and (groupedUploads is not empty ) %}
					<div class="accordion col-11 mx-auto justify-content-center" id="accordionExample">
						{% set outerIndex = 0 %}
						{% for zoneName, zoneKey in groupedUploads %}
							{% set outerIndex = outerIndex + 1 %}
							<div class="accordion-item shadow-lg shadow-lg-inset border border-dark">
								<h2 class="accordion-header" id="headingZone{{ outerIndex }}">
									<button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseZone{{ outerIndex }}" aria-expanded="false" aria-controls="collapseZone{{ outerIndex }}">
										Zone:
										{{ zoneName|split('.')|first|upper }}
									</button>
								</h2>
								<div id="collapseZone{{ outerIndex }}" class="accordion-collapse collapse" aria-labelledby="headingZone{{ outerIndex }}" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										{% set middleIndex = 0 %}
										{% for productLineName, productLineKey in zoneKey %}
											{% set middleIndex = middleIndex + 1 %}
											<div class="accordion" id="productLineAccordion{{ outerIndex }}{{ middleIndex }}">
												<div class="accordion-item">
													<h2 class="accordion-header" id="headingProductLine{{ outerIndex }}{{ middleIndex }}">
														<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProductLine{{ outerIndex }}{{ middleIndex }}" aria-expanded="false" aria-controls="collapseProductLine{{ outerIndex }}{{ middleIndex }}">
															Produit:
															{{ productLineName|split('.')|first|upper }}
														</button>
													</h2>
													<div id="collapseProductLine{{ outerIndex }}{{ middleIndex }}" class="accordion-collapse collapse" aria-labelledby="headingProductLine{{ outerIndex }}{{ middleIndex }}" data-bs-parent="#productLineAccordion{{ outerIndex }}{{ middleIndex }}">
														<div class="accordion-body">
															{% set innerIndex = 0 %}
															{% for categoryName, categoryKey in productLineKey %}
																{% set innerIndex = innerIndex + 1 %}
																<div class="accordion" id="categoryAccordion{{ outerIndex }}{{ middleIndex }}{{ innerIndex }}">
																	<div class="accordion-item">
																		<h2 class="accordion-header" id="headingCategory{{ outerIndex }}{{ middleIndex }}{{ innerIndex }}">
																			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategory{{ outerIndex }}{{ middleIndex }}{{ innerIndex }}" aria-expanded="false" aria-controls="collapseCategory{{ outerIndex }}{{ middleIndex }}{{ innerIndex }}">
																				Categorie:
																				{{ categoryName|split('.')|first|upper }}
																			</button>
																		</h2>
																		<div id="collapseCategory{{ outerIndex }}{{ middleIndex }}{{ innerIndex }}" class="accordion-collapse collapse" aria-labelledby="headingCategory{{ outerIndex }}{{ middleIndex }}{{ innerIndex }}" data-bs-parent="#categoryAccordion{{ outerIndex }}{{ middleIndex }}{{ innerIndex }}">
																			<div class="accordion-body">
																				{% for buttonName, buttonKey in categoryKey %}
																					<strong>Bouton:</strong>
																					{{ buttonName|split('.')|first|upper }}
																					{% for upload in buttonKey %}
																						<li class="list-group-item d-flex justify-content-between align-items-center mb-3 shadow-lg">
																							<a href="{{ path('app_download_file', { 'uploadId': upload.id }) }}" class="btn btn-link" target="_blank">
																								-
																								{{ upload.filename|upper }}
																							</a>
																							{% if  is_granted('ROLE_LINE_ADMIN') %}
																								<div class="ml-auto">																							
																									<strong>{% if upload.uploader is not empty %} {{upload.uploader.username|capitalize|split('.')|first }} {{upload.uploader.username|upper|split('.')|last }}
																									{% else %} inconnu {% endif %}|
																									</strong>																					
																									Rev. {{upload.revision}}
																									|
																									{% if upload.validated is same as(false) %}
																									<a href="{{path('app_validation', {'uploadId' : upload.id} )}}">{{upload.validated ? 'Validé' : 'Non validé'}}
																									<a>
																											|
																									{% else  %}
																										{{upload.validated ? 'Validé' : 'Non validé'}}
																										|
																									{% endif %}
																									{{ upload.uploadedAt|date('d/m/Y') }}
																									{% if app.user is same as(upload.uploader) or (upload.uploader) is empty %}
																									<a href="{{ path('app_modify_file', {'uploadId': upload.id}) }}" class="btn btn-modify shadow ">
																										Modifier
																									</a>
																									{% endif %}
																									<a href="{{ path('app_delete_file', { uploadId: upload.id }) }}" class="btn btn-danger delete-upload shadow">
																										Supprimer
																									</a>
																								</div>
																							{% endif %}
																						</li>
																					{% endfor %}
																				{% endfor %}
																			</div>
																		</div>
																	</div>
																</div>
															{% endfor %}
														</div>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% else %}
					<div class="alert alert-danger">
						<a href="{{path('app_base')}}">
							Il n'y a pas de documents disponible
						</a>
					</div>
				{% endif %}

{% endblock %}
