{% extends 'base.html.twig' %}
{% block title %}
	{{upload.filename}}
	|
	{{ parent() }}
{% endblock %}
{% block body %}
	{% set lastZone = null %}
	{% set lastProductLine = null %}
	{% set lastCategory = null %}
	{% set lastButton = null %}
	{% block javascripts %}
		{{ parent() }}

		{{ encore_entry_script_tags('cascading-dropdowns') }}
		{{ encore_entry_script_tags('document-validator') }}
	{% endblock %}


	<div
		class="card border-0 shadow rounded-3 my-5 bg-secondary"
		data-controller="document-training document-display filename-validation">
		<div
			class="card-body ">
			{{ form_start(form, {'attr': {'class': 'form-floating justify-content-center', 'id': 'modifyForm', 'method': 'POST', 'enctype': 'multipart/form-data'}, 'action': path('app_modifying_file', {'uploadId': upload.id})}) }}

			<div
				class="row align-items-center gy-lg-0 gy-5">
				<h3
					class="text-white m-0"
					style="color:white">
					Modification du fichier
					<strong>
						{{upload.filename}}
					</strong>
					:
				</h3>
				<h5>
					Revision n°
					{{upload.revision}}
				</h5>
				{% include "services/uploads/uploads_components/modifications_components/uploads_downloads_display.html.twig" %}
				<hr
					class="my-4">
				<div
					class="col-8 mx-auto">
					{{ form_label(form.file, 'Choisissez un nouveau ficher:', {'label_attr': {'class': 'form-label', 'style': 'color:white'}}
					) }}
					{{ form_widget(form.file, {'attr': {'class': 'form-control', 'id': 'file', 'accept' : '.pdf'}}
					) }}
					<div
						data-filename-validation-target="message"
						class="filename-message"></div>
					{% if settings.isTraining %}
						<div
							class="d-flex align-items-left mt-2  ">
							{{include('services/operators/training_toggles/training_toggle_component.html.twig', {checkStatus: false})}}
						</div>
					{% endif %}
					{% if settings.isUploadValidation %}
						<div
							class="d-flex align-items-left mt-2   ">
							{{ include('services/uploads/uploads_components/forced_display/forced_display_toggle_component.html.twig', {checkStatus: false}) }}
						</div>
						<div
							class="d-flex align-items-left mt-2   ">
							{{ include('services/uploads/uploads_components/modifications_components/modification_outlined/modification_outlined_toggle_component.html.twig') }}
						</div>
					{% endif %}
				</div>
			</div>
			<hr
				class="my-4">
			{% include "services/uploads/uploads_components/modifications_components/uploads_other_modifications.html.twig" %}
			<hr
				class="my-4">
			{% if settings.isUploadValidation %}
				{% include "services/uploads/uploads_components/modifications_components/uploads_modification_validation.html.twig" %}
			{% endif %}
			<div
				class="d-grid gap-2 d-md-flex justify-content-md-center mt-5">
				<button
					type="submit"
					class="btn btn-primary mb-3 submit-upload-modification">
					Modifier
				</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
