{# Learn how to use Turbo Streams: https://github.com/symfony/ux-turbo#broadcast-doctrine-entities-update #}
{% block create %}
	<turbo-stream
		action="append"
		target="product_lines">
		<template>
			<div
				id="{{ 'product_line_' ~ id }}">
				#
				{{ id }}
				created
			</div>
		</template>
	</turbo-stream>
{% endblock %}

{% block update %}
	<turbo-stream
		action="update"
		target="product_line_{{ id }}">
		<template>
			#
			{{ id }}
			updated
		</template>
	</turbo-stream>
{% endblock %}

{% block remove %}
	<turbo-stream
		action="remove"
		target="product_line_{{ id }}"></turbo-stream>
{% endblock %}
