{% extends 'blank.html.twig' %}
{% block title %}
	TrainingRecord

{% endblock %}
{% block javascripts %}
	{{ parent()}}
	{{encore_entry_script_tags('inactivity-timer')}}
	{{encore_entry_script_tags('dynamic-iframe')}}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.split-container {
			display: flex;
			height: 100vh;
		}
		.split-panel {
			overflow: hidden;
		}
		iframe {
			width: 100%;
			height: 100%;
			border: none;
		}
		.gutter {
			background-color: #eee;
			background-repeat: no-repeat;
			background-position: 50%;
		}
		.gutter:hover {
			background-color: #ddd;
		}
	</style>
{% endblock %}
{% block body %}


	<div
		class="d-flex ">

		<iframe
			title="iframeDocument"
			src="{{ path('app_download_old_upload_file_from_path', { oldUploadId: oldUpload.id }) }}" class=" vh-100"
			width="70%"
			target="_blank"></iframe>
		<iframe
			title="trainingRecordList"
			class="rounded-3 card vh-100  border-2 bg-light "
			name="trainingRecord"
			width="30%"
			src="{{ path('app_training_list', { uploadId: upload.id})}}"></iframe>

	</div>

{% endblock %}
