{% extends 'blank.html.twig' %}
{% block title %}
	TrainingRecord

{% endblock %}
{% block javascripts %}
	{{ parent()}}
	{{encore_entry_script_tags('inactivity-timer')}}
	{{encore_entry_script_tags('dynamic-iframe')}}
{% endblock %}


{% block body %}

	<div
		class="split-container">
		<div
			id="split-left"
			class="split-panel">

			<iframe
				title="iframeDocument"
				src="{{ path('app_download_file_from_path', { 'uploadId': upload.id }) }}" target="_blank"></iframe>
		</div>
		<div
			id="split-right"
			class="split-panel">

			<iframe
				title="trainingRecordList"
				class="rounded-3 card border-2 bg-light vh-100"
				name="trainingRecord"
				src="{{ path('app_training_list', { uploadId: upload.id})}}"></iframe>

		</div>
	</div>

{% endblock %}
