{% extends 'base.html.twig' %}
{% block title %}
	Truc des operateurs
{% endblock %}
{% block body %}
{% set fields = ['lastname', 'firstname', 'code', 'team', 'uap', 'isTrainer'] %}

<div
	class="card bg-secondary container row mb-2"
	data-controller="operator-admin">
	<h2>
		Ajouter un nouvel Opérateur
	</h2>
	{% set fieldsName = ['Nom de l\'operateur', 'Prenom de l\'operateur', 'Code de l\'operateur', 'Equipe de l\'operateur', 'UAP de l\'operateur', 'Est-il un formateur?'] %}

	<ul>
		<div
			class="row">

			{% for fieldName in fieldsName %}
				<div
					class="col">
					{{ fieldName }}
				</div>
			{% endfor %}
			<div
				class="col mx-auto">
				Actions
			</div>
		</div>
	</ul>
	<ul>
		{{ form_start(newOperatorForm, {'attr': {'class': 'row', 'name': 'newOperator', 'id': 'newOperator'}}
		) }}
		{% for field in fields %}
			{{ form_row(newOperatorForm[field]) }}
		{% endfor %}
		<button
			type="submit"
			class="btn btn-primary text-uppercase col my-auto mx-auto"
			data-operator-admin-target="newOperatorSubmitButton"
			disabled
			>
			Ajouter l'Opérateur
		</button>
		{{ form_end(newOperatorForm) }}
		<div class="card">
			<input type="hidden" id="newOperatorName" name="newOperatorName">   
		<div
			data-operator-admin-target="newOperatorNameMessage"
			class="newOperatorName-message d-flex justify-content-evenly"></div>
		<div
			data-operator-admin-target="newOperatorCodeMessage"
			class="newOperatorCode-message d-flex justify-content-evenly"></div>
		<div
			data-operator-admin-target="newOperatorTransferMessage"
			class="newOperatorTransfer-message d-flex justify-content-evenly"></div>
		</div>
	</ul>
			
	<h2>
		Liste des Opérateurs
	</h2>
	<ul>
		<div
			class="row">
			{% set fieldsName = ['Nom de l\'operateur', 'Prenom de l\'operateur', 'Code de l\'operateur', 'Equipe de l\'operateur', 'UAP de l\'operateur', 'Est-il un formateur?'] %}

			{% for fieldName in fieldsName %}
				<div
					class="col">
					{{ fieldName }}
				</div>
			{% endfor %}
			<div
				class="col mx-auto">
				Actions
			</div>
		</div>
	</ul>
	{# <ul>
		<div class="card">
			{% for operatorId, operatorForm in operatorForms %}
				{{ form_start(operatorForm, {'attr': {'class': 'row'}, 'action': path('app_operator')}) }}
           		{{ form_row(operatorForm.search) }} <!-- Assuming 'search' is the name of your search field -->
				{{ form_end(operatorForm) }}
			{% endfor %}
		</div>
	</ul> #}
{% include '/services/operators/admin_component/_adminListOperator.html.twig' %}
</div>
{% endblock %}
