{% block stylesheets %}
	{{
		encore_entry_link_tags("app")
        }}
{% endblock %}
{% block javascripts %}
	{{encore_entry_script_tags('app')}}
	{{encore_entry_script_tags('toast')}}
{% endblock %}


<html>
	{% include "services/_toasts.html.twig" %}

	<body
		class="d-flex flex-column justify-content-evenly align-items-evenly">


		<form
			id="trainingRecord-form"
			action="{{path('app_training_list_select_record_form', {'uploadId': upload.id})}}" method="post"
			data-turbo-frame="training-records">
			<div
				data-controller="operator-training-select"
				class="d-flex flex-column mx-2 justify-content-evenly">
				<div
					class="d-flex flex-row">
					<select
						name="team-trainingRecord-select"
						id="teamId"
						class="form-select mx-1"
						style="flex:0.4;"
						data-action="change->operator-training-select#validateNewOperatorSelect"
						data-operator-training-select-target="newOperatorSelectTeam"
						required>
						<option
							value="">
							Select a Team
						</option>
						{% for team in teams %}
							<option
								value="{{ team.id }}">
								{{ team.name }}
							</option>
						{% endfor %}
					</select>

					<select
						name="uap-trainingRecord-select"
						id="uapId"
						class="form-select mx-1"
						data-action="change->operator-training-select#validateNewOperatorSelect"
						data-operator-training-select-target="newOperatorSelectUap"
						style="flex:0.4;"
						required>
						<option
							value="">
							Select a UAP
						</option>
						{% for uap in uaps %}
							<option
								value="{{ uap.id }}">
								{{ uap.name }}
							</option>
						{% endfor %}
					</select>
					<input
						type="submit"
						data-action="click->operator-training-select#submitButtonClicked"
						data-operator-training-select-target="submit"
						class="btn btn-primary"
						value="Filtrer"
						style="flex:0.2;">
				</div>
				<div
					data-operator-training-select-target="newOperatorSelectMessage"></div>

			</div>

		</form>

		<turbo-frame
			id="training-records">
			{% include "services/operators/component/_listOperator.html.twig" %}

		</turbo-frame>

	</body>
</html>
