<turbo-frame
	id="adminListOperator">
	<ul>
		<div
			id="flash-messages">
			{% for label, messages in app.flashes %}
				<div
					class="alert alert-{{ label }}">
					{% for message in messages %}
						<p>
							{{ message }}
						</p>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
		<div
			class="row">
			{% set fieldsName = ['Nom de l\'operateur', 'Prenom de l\'operateur', 'Code de l\'operateur', 'Equipe de l\'operateur', 'UAPs de l\'operateur', 'Est-il un formateur?'] %}

			{% for fieldName in fieldsName %}
				<div
					class="col " style="color:white;">
					{{ fieldName }}
				</div>
			{% endfor %}
			<div
				class="col-2 mx-auto"  style="color:white;">
				Actions
			</div>
		</div>
	</ul>

	<ul>
		{% if operatorForms|length > 0 %}

			{% for operatorId, operatorForm in operatorForms %}
			{% form_theme operatorForm 'bootstrap_5_layout.html.twig' %}
				{% if operatorForm.vars.data.tobedeleted is not empty %}
					{{ form_start(operatorForm, {'attr': {'class': 'row bg-dark', 'id': 'operatorForm' ~ operatorId, 'data-controller': 'operator-admin-edit'}, 'action': path('app_operator_edit', {'operator': operatorId})}) }}
				{% else %}
					{{ form_start(operatorForm, {'attr': {'class': 'row', 'id': 'operatorForm' ~ operatorId, 'data-controller': 'operator-admin-edit'}, 'action': path('app_operator_edit', {'operator': operatorId})}) }}
				{% endif %}

				{% for field in fields %}
     				{% set customId = 'operatorForm' ~ field|capitalize ~ operatorId %}
					{{ form_row(operatorForm[field], 
					{						
					'id': customId,
					'attr': {
						'data-action': field == 'code' ? 'keyup->operator-admin-edit#editedCodeChecker' : null,
						'data-operator-admin-edit-target': field == 'isTrainer' ? 'operatorFormIsTrainer' : 'operatorForm' ~ field|capitalize}}) }}
				{% endfor %}
				{% if operatorForm.vars.data.tobedeleted is not empty %}
					<div
						class="col my-auto mx-auto">
						<button
							type="submit"
							class="btn btn-primary text-uppercase ">
							Réactualiser
						</button>
						<a
							href="{{ path('app_operator_delete', {'id': operatorId}) }}" class="btn btn-danger text-uppercase delete-operator">
							Supprimer
						</a>
					</div>
				{% else %}
					<div
						class="col-2 my-auto mx-auto">
						<button
							type="submit"
							class="btn btn-primary text-uppercase submit-operator-modification">
							Modifier l'Opé
						</button>
						<a
							href="{{ path('app_operator_delete', {'id': operatorId}) }}" class="btn btn-danger text-uppercase delete-operator">
							Supprimer
						</a>
						<a
							href="{{ path('app_operator_detail', {'operatorId': operatorId}) }}" class="btn btn-light text-uppercase"  target="_blank">
							Code
						</a>
					</div>
				{% endif %}
			{{ form_end(operatorForm) }}
			<hr
				class="my-4">
		{% endfor %}
	{% else %}
		<div
			class="card alert alert-warning "
			id="live-toast">
			Aucun opérateur n'a été recherché.
		</div>
	{% endif %}
</ul></turbo-frame>
