<ul>
	<div
		class="row">
		{% for fieldName in fieldsName %}
			<div
				class="col"
				style="color:white;">
				{{ fieldName }}
			</div>
		{% endfor %}
		<div
			class="col mx-auto"
			style="color:white;">
			Actions
		</div>
	</div>
</ul>
{% form_theme newOperatorForm 'bootstrap_5_layout.html.twig' %}

<ul
	data-controller="operator-admin-creation">
	{{ form_start(newOperatorForm, {'attr': {'class': 'row align-items-center', 'name': 'newOperator', 'id': 'newOperator'}}
	) }}
	{% for field in fields %}
		{% if field == 'lastname' %}
			<div
				class="col position-relative">
				{{ form_widget(newOperatorForm[field], {
				'id': 'newOperator' ~ field|capitalize,
                'attr': {
                    'data-operator-admin-creation-target': 'newOperator' ~ field|capitalize,
                    'data-action': 'keyup->operator-admin-creation#validateNewOperator' ~ field|capitalize ~ ' input->operator-admin-creation#suggest' ~ field|capitalize
                }
            }) }}
				<div
					data-operator-admin-creation-target="nameSuggestions"
					class="suggestions-list position-absolute w-100"></div>
			</div>
		{% elseif field == 'firstname' %}
			<div
				class="col position-relative">
				{{ form_row(newOperatorForm[field], {
            'id': 'newOperator' ~ field|capitalize,
			'attr': {
                'data-operator-admin-creation-target': 'newOperator' ~ field|capitalize,
                'data-action': 'keyup->operator-admin-creation#validateNewOperator' ~ field|capitalize ~ ' input->operator-admin-creation#capitalizeFirstLetterMethod input->operator-admin-creation#suggest' ~ field|capitalize,    
            }
        }) }}
				<div
					data-operator-admin-creation-target="nameSuggestions"
					class="suggestions-list position-absolute "></div>
			</div>
		{% else %}
			{{ form_row(newOperatorForm[field], {	               
			'id': 'newOperator' ~ field|capitalize,
            'attr': {
                'data-operator-admin-creation-target': field == 'isTrainer' ? 'newOperatorIsTrainer' : 'newOperator' ~ field|capitalize,
                'data-action': field == 'code' ? 'keyup->operator-admin-creation#validateNewOperator' ~ field|capitalize : false, 
				'disabled': field == 'code' ? true : false, 
            }
        }) }}
		{% endif %}
	{% endfor %}
	<button
		type="submit"
		class="btn btn-primary text-uppercase col"
		data-operator-admin-creation-target="newOperatorSubmitButton"
		disabled>
		Ajouter l'Opérateur
	</button>
	{{ form_end(newOperatorForm) }}
	<div
		class="card">
		<input
			type="hidden"
			id="newOperatorName"
			name="newOperatorName">
		<div
			data-operator-admin-creation-target="newOperatorNameMessage"
			class="newOperatorName-message d-flex justify-content-evenly"></div>
		<div
			data-operator-admin-creation-target="newOperatorCodeMessage"
			class="newOperatorCode-message d-flex justify-content-evenly"></div>
		<div
			data-operator-admin-creation-target="newOperatorTransferMessage"
			class="newOperatorTransfer-message d-flex justify-content-evenly"></div>
	</div>
</ul>
