{% extends 'base.html.twig' %}

{% block title %}Hello LineAdminController!
{% endblock %}

{% block body %}
	<div class="container">

		<div>
			<h1>Page d'administration de la ligne
				{{productLine.name|capitalize}}</h1>
		</div>
		<div>
			<h2>Formulaire de creation de categories :</h2>
		</div>
		<div class=" card border-0 shadow rounded-3 my-5 ">
			<div class="card-body ">
				<div class="row">
					<div class="col-md-6">
						<form class="form-floating justify-content-center " method="POST" action="{{ path('app_line_admin_create_category', {id: productLine.name, name: productLine.zone.name}) }}">
							<div class="form-control mb-3">
								<input type="text" name="categoryname" placeholder="Nom de la Catégorie" required>
							</div>
							<div class="form-control mb-3">
								<button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Valider</bouton>
							</div>
						</form>
					</div>
					<div class="col-md-6">
						<ul>
							<p>
								<div class=" mb-5 mt-5">
									{% set matchingCategories = [] %}
									{% for category in categories %}
										{% if category.productLine.id is same as(productLine.id)  %}
											{% set matchingCategories = matchingCategories|merge([category]) %}
										{% endif %}
									{% endfor %}
								</p>
							</p>
							<p>
								<div>
									{% if matchingCategories|length > 0 %}
										{% for category in matchingCategories %}
											<div class="d-flex ps-5 mb-5 mt-5 line-list">
												<a href="{{path('app_category', {category: category.name, id: category.productline.name, name: category.productline.zone.name} )}}" class="btn" style="color:white">
													<span class="line-details text-justify">
														-{{ category.name }}
														<id={{category.id}}></span>
													</a>
													<a href="{{path('app_line_admin_delete_category', {id: category.name})}}" class="btn" style="color:white">
														<span class="line-details  text-justify">
															- Supprimer
															<id={{category.id}}></span>
														</a>
													</div>
												{% endfor %}
											{% else %}
												<div class="alert alert-danger">
													<a href="{{path('app_base')}}">
														Il n'y a pas de catégories dans cette ligne.
													</a>

												</div>
											{% endif %}
										</div>
									</div>
								</p>
							</p>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div>
			<h2>Formulaire de creation de compte utilisateur :</h2>
			<form method="POST" action="{{ path('app_line_admin_create_manager', {id: productLine.name}) }}">
				{% include "services/accountservices/create_account.html.twig" %}
			</form>
		</div>
		<div>
			<h2>Formulaire d'upload :</h2>
			<form action="{{path('app_generic_upload_files')}}" method="POST" enctype="multipart/form-data">
				{% include "services/uploads/upload.html.twig" %}
			</form>
		</div>
	</div>
{% endblock %}
