{% extends 'base.html.twig' %}

{% block title %}ZoneAdminCenter
{% endblock %}

{% block body %}
	<h1 class="my-4">
		<strong>Page d'administration des Lignes de la Zone
			{{zone.name|capitalize}}</strong>
	</h1>
	<h2 class="my-4">
		<strong>Formulaire de creation de Ligne</strong>
	</h2>
	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row">
				<div class="card border-0 shadow rounded-3 my-5 bg-secondary">
					<div class="card-body">
						<div class="row d-flex align-items-center gy-lg-0 gy-5 ">
							<div class="col-md-6">

								<h5 class="card-title text-center mb-5 fw-light fs-5">
									<strong>Creation de Lignes</strong>
								</h5>
								<form class="form-control" method="POST" action="{{ path('app_zone_admin_create_productline', {id: zone.name}) }}">
									<div class="mb-3">
										<label for="productlinename">Nom de la Ligne</label>
										<input type="text" name="productlinename" placeholder="Nom de la Ligne" required class="form-control" id="productlinename">
									</div>
									<div class="d-grid">
										<button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Valider</button>
									</div>

								</form>
								<hr class="my-4">

							</div>
							<div class="col-md-6">
								<h5 class="card-title text-center mb-5 fw-light fs-5">
									<strong>Liste des Lignes de la zone
										{{zone.name|capitalize}}:</strong>
								</h5>
								<ul class="list-unstyled">
									{% set matchingProductLines = productLines|filter(productLine => productLine.zone.id is same as(zone.id)) %}
									{% for productLine in matchingProductLines %}
										<li class="form-control d-flex justify-content-between align-items-center mb-2">
											<a href="{{path('app_productline_admin', {id: productLine.name, name: productLine.zone.name})}}" class="btn btn-link">
												-
												{{ productLine.name|capitalize }}
												<span class="visually-hidden">{{ productLine.id }}</span>
											</a>
											<a href="{{path('app_zone_admin_delete_productline', {id: productLine.name})}}" class="btn btn-danger delete-productline">
												Supprimer
												<span class="visually-hidden">{{ productLine.id }}</span>
											</a>
										</li>
									{% else %}
										<li class="alert alert-danger">
											<a href="{{path('app_base')}}">Il n'y a pas de lignes dans cette zone.</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h2 class="my-4">
		<strong>Formulaire de creation de compte utilisateur :</strong>
	</h2>
	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row">

				<form method="POST" action="{{ path('app_zone_admin_create_line_admin', {id: zone.name}) }}">
					{% include "services/accountservices/create_account.html.twig" %}
				</form>
			</div>
		</div>
	</div>
	<h2 class="my-4">
		<strong>Formulaire d'upload :</strong>
	</h2>
	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row">

				<form action="{{path('app_generic_upload_files')}}" method="POST" enctype="multipart/form-data">
					{% include "services/uploads/upload.html.twig" %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
