{% extends 'base.html.twig' %}

{% block title %}
	LineAdminCenter
{% endblock %}

{% block body %}

	{% set matchingProductLines = [] %}
	{% for productLine in productLines %}
		{% if productLine.zone.id is same as(zone.id)  %}
			{% set matchingProductLines = matchingProductLines|merge([productLine]) %}
		{% endif %}
	{% endfor %}
	{% if zoneIdFromServer is not defined %}
		{% if zone is defined and zone is not null %}
			<script>
				zoneIdFromServer = parseInt('{{ zone.getId() }}')
			</script>
		{% endif %}
	{% endif %}

	{% if productLineIdFromServer is not defined %}
		{% if productLine is defined and productLine is not null %}
			<script>
				productLineIdFromServer = parseInt('{{ productLine.getId() }}')
			</script>
		{% endif %}
	{% endif %}

	{% if categoryIdFromServer is not defined %}
		{% if category is defined and category is not null %}
			<script>
				categoryIdFromServer = parseInt('{{ category.getId() }}')
			</script>
		{% endif %}
	{% endif %}

	{% if buttonIdFromServer is not defined %}
		{% if button is defined and button is not null %}
			<script>
				buttonIdFromServer = parseInt('{{ button.getId() }}')
			</script>
		{% endif %}
	{% endif %}
	{% if  is_granted('ROLE_ADMIN') %}

		<aside
			class="position-absolute end-0 mt-2">
			<a
				href="{{ path('app_zone_admin', {zoneId: zone.id}) }}" class="btn shadow bg-dark "
				style="color:white">
				<span
					class="fa fa-gear"></span>
				<strong>
					<span
						class="button-text">
						Centre d'Administration de la Zone
					</span>
				</strong>
			</a>
		</aside>
	{% endif %}
	<div
		class="dropdown">
		<h1
			class="my-4">
			<strong>
				Page d'administration de la ligne
				<button
					class="dropdown-toggle"
					data-bs-toggle="dropdown"
					aria-expanded="false"
					type="button"
					id="productLineDropdown">
					{{productLine.name|split('.')|first|upper}}
				</button>
				<ul
					class="dropdown-menu shadow shadow-inset"
					aria-labelledby="productLineDropdown">
					{% for productLineExt in matchingProductLines %}
						{% if productLineExt != productLine %}
							<li>
								<a
									href="{{ path('app_productline_admin', {productlineId: productLineExt.id}) }}" class="dropdown-item shadow ">
									{{productLineExt.name|split('.')|first|upper}}
								</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
				de la Zone
				{{productLine.zone.name|split('.')|first|upper}}

			</strong>
		</h1>
	</div>
	<div
		class="accordion"
		id="accordionLineAdmin">
		<div
			class="accordion-item">
			<h2
				class="accordion-header"
				id="headingCategories">
				<button
					class="accordion-button fs-3 collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#collapseCategory"
					aria-expanded="true"
					aria-controls="collapseCategory">
					<strong>
						Formulaire de création de categories :
					</strong>
				</h2>
				<div
					id="collapseCategory"
					class="accordion-collapse collapse "
					aria-labelledby="headingCategory"
					data-bs-parent="#accordionLineAdmin">
					<div
						class="accordion-body accordion-bg shadow shadow-inset">
						<div
							class="card border-0 shadow rounded-3 my-5">
							<div
								class="card-body">
								<div
									class="row">
									<form
										method="POST"
										action="{{ path('app_productline_admin_create_category', {productlineId: productLine.id}) }}">

										<div
											class="card border-0 shadow rounded-3 my-5  bg-secondary">
											<div
												class="card-body">
												<div
													class="row d-flex align-items-center gy-lg-0 gy-5">
													<div
														class="col-md-6">

														<h5
															class="card-title text-center mb-5 fw-light fs-5">
															<strong>
																Création de Catégories
															</strong>
														</h5>
														<form
															class="form-floating"
															method='POST'>
															<div
																class="form-control mb-3">
																<label
																	for="categoryname">
																	Nom de la Catégorie
																</label>
																<input
																	type="text"
																	name="categoryname"
																	placeholder="Nom de la Catégorie"
																	required
																	class="form-control"
																	id="categoryname">
															</div>
															<div
																class="d-grid">
																<button
																	class="btn btn-primary btn-login text-first|uppercase fw-bold"
																	type="submit">
																	Valider
																</button>
															</div>


														</form>
														<hr
															class="my-4">
													</div>

													<div
														class="col-md-6">
														<h5
															class="card-title text-center mb-5 fw-light fs-5">
															<strong>
																Liste des Catégories de la Ligne
																{{productLine.name|split('.')|first|upper}}
																:
															</strong>
														</h5>
														<ul
															class="list-unstyled">

															{% for category in productLine.categories %}
																<li
																	class="form-control d-flex justify-content-between align-items-center mb-2">
																	<a
																		href="{{path('app_category_manager', {categoryId: category.id} )}}" class="btn btn-dark">
																		{{ category.name|split('.')|first|upper }}
																	</a>
																	{% if is_granted ('ROLE_LINE_ADMIN') or app.user is same as( category.creator) %}
																		<a
																			href="{{path('app_productline_admin_delete_category', {categoryId: category.id})}}" class="btn btn-danger delete-category">
																			Supprimer
																		</a>
																	{% endif %}
																</li>
															{% else %}
																<li
																	class="alert alert-danger">
																	<a
																		href="{{path('app_base')}}">
																		Il n'y a pas de catégories dans cette ligne.
																	</a>
																</li>
															{% endfor %}
														</ul>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			{{ render(controller('App\\Controller\\OperatorController::operatorManagement'), options = []) }}

			<div
				class="accordion-item">
				<h2
					class="accordion-header"
					id="headingUpload">
					<button
						class="accordion-button fs-3 collapsed"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#collapseUpload"
						aria-expanded="true"
						aria-controls="collapseUpload">
						<strong>
							Formulaire de chargement de fichier :
						</strong>
					</button>
				</h2>
				<div
					id="collapseUpload"
					class="accordion-collapse collapse"
					aria-labelledby="headingUpload"
					data-bs-parent="#accordionLineAdmin">
					<div
						class="accordion-body accordion-bg shadow shadow-inset">
						<div
							class="card border-0 shadow rounded-3 my-5">
							<div
								class="card-body">
								<div
									class="row">

									<form
										action="{{path('app_generic_upload_files')}}" method="POST"
										enctype="multipart/form-data">
										{% include "services/uploads/upload.html.twig" %}
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div
				class="accordion-item">
				<h2
					class="accordion-header"
					id="headingIncident">
					<button
						class="accordion-button fs-3 collapsed"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#collapseIncident"
						aria-expanded="true"
						aria-controls="collapseIncident">

						<strong>
							Formulaire d'ajout d'Incident :
						</strong>
					</button>
				</h2>
				<div
					id="collapseIncident"
					class="accordion-collapse collapse"
					aria-labelledby="headingIncident"
					data-bs-parent="#accordionLineAdmin">
					<div
						class="accordion-body accordion-bg shadow shadow-inset">
						<div
							class="card border-0 shadow rounded-3 my-5">
							<div
								class="card-body">
								<div
									class="row">

									<form
										action="{{path('app_generic_upload_incident_files')}}" method="POST"
										enctype="multipart/form-data">
										{% include "services/incidents/incidents.html.twig" %}
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div
				class="accordion-item">
				<h2
					class="accordion-header"
					id="headingUploadedList">
					<button
						class="accordion-button fs-3 collapsed"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#collapseUploadedList"
						aria-expanded="false"
						aria-controls="collapseUploadedList">
						<strong>
							Liste des fichiers chargés :
						</strong>
					</button>
				</h2>
				<div
					id="collapseUploadedList"
					class="accordion-collapse collapse"
					aria-labelledby="headingUploadedList"
					data-bs-parent="#accordionLineAdmin">
					<div
						class="accordion-body accordion-bg shadow shadow-inset">
						<div
							class="row">
							<div>
								{% include "services/uploads/uploaded_list.html.twig" %}
							</div>

						</div>
					</div>
				</div>
			</div>
			<div
				class="accordion-item">
				<h2
					class="accordion-header"
					id="headingValidatedList">
					<button
						class="accordion-button fs-3 collapsed"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#collapseValidatedList"
						aria-expanded="false"
						aria-controls="collapseValidatedList">
						<strong>
							Liste des validations :
						</strong>
					</button>
				</h2>
				<div
					id="collapseValidatedList"
					class="accordion-collapse collapse"
					aria-labelledby="headingValidatedList"
					data-bs-parent="#accordionLineAdmin">
					<div
						class="accordion-body accordion-bg shadow shadow-inset">
						<div
							class="row">
							<div>
								{% include "services/validation/validation_list.html.twig" %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
