{% extends 'base.html.twig' %}
{% block title %}
	AdminPage
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('incident-cascading-dropdowns') }}
	{{ encore_entry_script_tags('cascading-dropdowns') }}
	{{ encore_entry_script_tags('document-validator') }}
	{{ encore_entry_script_tags('department-creation') }}
{% endblock %}
{% block body %}
	{% import 'macros/accordion_loading_animations.html.twig' as loading %}

	<div
		class="row align-items-center">
		{% if pageLevel is same as('super') %}
			{% set entityId = null %}
			<h1
				class="my-4">
				<strong>
					Page de Super-Administration
				</strong>
			</h1>
		{% elseif pageLevel is same as('zone') %}
			{% set entityId = zone.id %}

			{% if  is_granted('ROLE_SUPER_ADMIN') %}
				<div
					class='my-3'>
					<aside
						aria-label="Super admin page access"
						class="end-0">
						<a
							href="{{ path('app_super_admin') }}" class="btn shadow bg-dark "
							style="color:white">
							<span
								class="fa fa-gear"></span>
							<strong>
								<span
									class="button-text">
									Centre de SuperAdministration
								</span>
							</strong>
						</a>
					</aside>
				</div>
			{% endif %}
			<h1
				class="my-3">
				<strong>
					Page d'administration des Lignes de la Zone
					<button
						class="dropdown-toggle"
						data-bs-toggle="dropdown"
						aria-expanded="false"
						type="button"
						id="zoneDropdown">
						{{zone.name|split('.')|first|upper}}
					</button>
					<ul
						class="dropdown-menu shadow shadow-inset"
						aria-labelledby="zoneDropdown">
						{% for zoneExt in zones %}
							{% if zoneExt != zone %}
								<li>
									<a
										href="{{ path('app_zone_admin', {zoneId: zoneExt.id}) }}" class="dropdown-item shadow ">
										{{zoneExt.name|split('.')|first|upper}}
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</strong>
			</h1>
		{% elseif pageLevel is same as('productLine') %}
			{% set entityId = productLine.id %}

			{% if is_granted('ROLE_ADMIN') %}
				<div
					class='my-3'>
					<aside
						aria-label="zone admin page access"
						class="end-0">
						<a
							href="{{ path('app_zone_admin', {zoneId: zone.id}) }}" class="btn shadow bg-dark "
							style="color:white">
							<span
								class="fa fa-gear"></span>
							<strong>
								<span
									class="button-text">
									Centre d'Administration de la Zone
								</span>
							</strong>
						</a>
					</aside>
				</div>
			{% endif %}
			<h1
				class="my-3">
				<strong>
					Page d'administration de la ligne
					<button
						class="dropdown-toggle"
						data-bs-toggle="dropdown"
						aria-expanded="false"
						type="button"
						id="productLineDropdown">
						{{productLine.name|split('.')|first|upper}}
					</button>
					<ul
						class="dropdown-menu shadow shadow-inset"
						aria-labelledby="productLineDropdown">
						{% for productLineExt in zoneProductLines %}
							{% if productLineExt != productLine %}
								<li>
									<a
										href="{{ path('app_productLine_admin', {productLineId: productLineExt.id}) }}" class="dropdown-item shadow ">
										{{productLineExt.name|split('.')|first|upper}}
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
					de la Zone
					{{zone.name|split('.')|first|upper}}
				</strong>
			</h1>
		{% elseif pageLevel is same as('category') %}
			{% set entityId = category.id %}

			{% if  is_granted('ROLE_LINE_ADMIN') %}
				<div
					class='my-3'>
					<aside
						aria-label="Line admin page access"
						class="end-0">
						<a
							href="{{ path('app_productLine_admin', {productLineId: productLine.id}) }}" class="btn shadow  bg-dark "
							style="color:white">
							<span
								class="fa fa-gear"></span>
							<strong>
								<span
									class="button-text">
									Centre d'Administration de la Ligne
								</span>
							</strong>
						</a>
					</aside>
				</div>
			{% endif %}
			<h1
				class='my-3'>
				<strong>
					Page d'administration de la catégorie
					<button
						class="dropdown-toggle"
						data-bs-toggle="dropdown"
						aria-expanded="false"
						type="button"
						id="categoryDropdown">
						{{category.name|split('.')|first|upper}}
					</button>
					<ul
						class="dropdown-menu shadow shadow-inset"
						aria-labelledby="categoryDropdown">
						{% for categoryExt in productLineCategories %}
							{% if categoryExt != category %}
								<li>
									<a
										href="{{ path('app_category_admin', {categoryId: categoryExt.id}) }}" class="dropdown-item shadow ">
										{{categoryExt.name|split('.')|first|upper}}
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
					de la Ligne
					{{productLine.name|split('.')|first|upper}}
				</strong>
			</h1>
		{% endif %}

		<div
			class="accordion"
			id="accordionAdmin">

			{% if pageLevel is same as('super')  %}
				{{ render_esi(controller('App\\Controller\\Support\\SettingsController::settingsIndex'), options = []) }}
				{% include "admin_template/admin_template_components/zone_creation_form.html.twig" %}

				<turbo-frame
					id="create-account"
					src="{{ path('app_account_create') }}" data-accordion-frame-manager-target="turboFrame"
					loading="lazy">
					{{ loading.content_placeholder('text', 2, '90%') }}
				</turbo-frame>

			{% elseif pageLevel is same as('zone') %}
				{% include "admin_template/admin_template_components/line_creation_form.html.twig" %}
			{% elseif pageLevel is same as('productLine') %}
				{% include "admin_template/admin_template_components/category_creation_form.html.twig" %}
			{% elseif pageLevel is same as('category') %}
				{% include "admin_template/admin_template_components/button_creation_form.html.twig" %}
			{% endif %}

			{% if settings.IsTraining %}
				{{ render_esi(controller('App\\Controller\\Operator\\OperatorAdminController::operatorTeamUapManagement'), options = []) }}
			{% endif %}

			{% include "services/uploads/upload.html.twig" %}

			{% if is_granted('ROLE_LINE_ADMIN') %}
				<turbo-frame
					id="incident_management_view"
					src="{{ path('app_incident_management_view', { parentEntityType: pageLevel, entityId: entityId }) }}" data-accordion-frame-manager-target="turboFrame"
					loading="lazy">
					{{ loading.content_placeholder('text', 2, '90%') }}
				</turbo-frame>
			{% endif %}

			<turbo-frame
				id="uploaded-list"
				src="{{ path('app_uploaded_list', { parentEntityType: pageLevel, entityId: entityId }) }}" data-accordion-frame-manager-target="turboFrame"
				loading="lazy">
				{{ loading.content_placeholder('text', 2, '90%') }}
			</turbo-frame>

			{% if settings.IsUploadValidation %}
				<turbo-frame
					id="validation-list"
					src="{{ path('app_validation_list', { parentEntityType: pageLevel, entityId: entityId }) }}" data-accordion-frame-manager-target="turboFrame"
					loading="lazy">
					{{ loading.content_placeholder('text', 2, '90%') }}
				</turbo-frame>
			{% endif %}

		</div>
	</div>
{% endblock %}
