{% extends 'base.html.twig' %}
{% import 'macros/accordion_loading_animations.html.twig' as loading %}

{% block title %}
	Matrices et Checklists ILUO |
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div
		class="container-fluid d-flex align-items-center flex-grow-1 card bg-light">

		<turbo-frame
			id="iluo-views-search"
			src="{{ path('app_iluo_views_search') }}" loading="lazy"
			class="row"
			>
			{{ loading.content_placeholder('form', 2, '90%') }}
		</turbo-frame>

		<turbo-frame
			id="iluo-views-checklist"
			src="{{ path('app_iluo_views_checklist') }}" loading="lazy"
			class="row"
			>
			{{ loading.content_placeholder('form', 2, '90%') }}
		</turbo-frame>

		<turbo-frame
			id="iluo-views-matrices"
			src="{{ path('app_iluo_views_matrices') }}" loading="lazy"
			class="row"
			>
			{{ loading.content_placeholder('form', 2, '90%') }}
		</turbo-frame>
	</div>
{% endblock %}
