{% extends 'base.html.twig' %}

{% block title %}
	ILUO Admin	|
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div
		class="container-fluid d-flex align-items-center flex-grow-1">
		<div
			class="accordion w-100"
			id="accordionIluo">
			{{ render(controller('App\\Controller\\Iluo\\IluoGeneralElementsController::generalElementsAdminPageGet'), options = []) }}
			{{ render(controller('App\\Controller\\Iluo\\IluoChecklistController::checklistAdminPageGet'), options = []) }}
			{{ render(controller('App\\Controller\\Iluo\\IluoWorkstationController::workstationAdminPageGet'), options = []) }}
		</div>
	</div>
{% endblock %}
