<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}
				DocAuPoste
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="{{ asset('Plastic_Omnium.svg') }}">
		{% block stylesheets %}
			{{
            encore_entry_link_tags("app")
        }}
		{% endblock %}
		{% block javascripts %}
			{{
            encore_entry_script_tags("app")
        }}
			{{ encore_entry_script_tags('confirmation') }}
			{{ encore_entry_script_tags('toast') }}
			{% block javascript_data %}{% endblock %}

		{% endblock %}
		{% include "services/_toasts.html.twig" %}
	</head>
	<!-- Main Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1f3e52">
		<div class="container">
			<a class="navbar-brand" href="{{ path('app_base') }}">
				<img class="img-fluid align-center justify-content-center" src="{{ asset('Plastic_Omnium.svg') }}" alt="Logo de PlasticOmnium" role="img" width="125"/></a>
			<a class="navbar-brand" href="{{ path('app_base') }}">
				<h2>
					<strong>
						DocAuPoste
					</strong>
				</h2>
			</a>
			<div></div>
			<div class="ms-auto d-flex align-items-center">
				{% if app.user is null %}
					<a class="btn btn-primary" href="{{ path('app_login') }}">Connexion</a>
				{% else %}
					<p>
						<strong>
							{{ app.user.username|capitalize }}
						</strong>
						<a class="btn btn-primary" href="{{ path('app_logout') }}">Déconnexion</a>
					</p>
				{% endif %}

			</div>

		</div>

	</nav>
	<!-- End Main Navigation -->
	<body class="d-flex flex-column min-vh-100">
		<div class="container ">
			{% if users is defined %}
				{% if users is empty %}
					<h4 class="my-4">
						<strong>Pour commencer à utiliser l'application, veuillez créer le superadministrateur :
						</strong>
					</h4>
					<div class="card border-0 shadow rounded-3 my-5">
						<div class="card-body">
							<div class="row">
								<form action="{{ path('app_create_super_admin') }}" method="post">
									{% include "services/accountservices/create_account.html.twig" %}
								</form>
							</div>
						</div>
					</div>
				{% endif %}
			{% endif %}

		</div>

		<div class="container">
			{% include "services/navbarservices/navbarservices.html.twig" %}

			{% block body %}
				<div class="container">
					{% if app.user %}
						{% if  is_granted('ROLE_SUPER_ADMIN', object = null, field = null)%}
							<aside class="position-absolute end-0">
								<a href="{{ path('app_super_admin') }}" class="btn" style="color:white">Centre de Super-Administration</a>
							</aside>
						{% endif %}
					{% endif %}
					<p>
						<h1 class="text-justify mb-2 mt-5">
							<strong>
								Doc Au Poste
							</strong>
						</h1>
					</p>
					<p>
						<h3 class="mb-4 text-justify">
							<strong>
								Le site qui vous permet de trouver les documents dont vous avez besoin.</strong>
						</h3>
					</p>
					<p>
						<div>
							{% for zone in zones %}
								<div class="d-flex ps-5 mb-5 mt-5  line-list">
									<a class="btn btn-primary btn-lg btn-block " role="button" aria-pressed="true" style="color:white" href="{{path('app_zone', {zone: zone.name})}}">
										<span class="line-details text-justify">
											{{ zone.name|split('.')|first|capitalize }}

										</span>
									</a>
								</div>
							{% endfor %}
						</div>
					</p>
				{% endblock body %}
			</p>
		</div>
	</body>
</html></div></body><!-- Footer --><footer class="container mt-auto py-3 border-top"><div class="d-flex flex-wrap justify-content-between">
<div class="col-md-4 d-flex align-items-center">
	<span class="me-1" style="color: red">
		<i class="fas fa-copyright"></i>
	</span>
	<a target="_blank" href="https://www.plasticomnium.com/en/" style="color: #25a1dd" class="mb-3  mb-md-0 text-decoration-none lh-1">PlasticOmnium Langres</a>
</div>
<div>
	<a href="javascript:void(0)" onclick="event.preventDefault(); window.history.back();">
		<i class="fa fa-arrow-circle-o-left" 'aria-hidden="false"'>Retour</i>
	</a>
</div>
<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
	<li class="ms-3">
		<a class="text-muted" target="_blank" href="https://github.com/kiloutyg/">
			<i class="fab fa-github"></i>
		</a>
	</li>
</ul></div></footer><!-- End Footer --></html></body></html>
