<!DOCTYPE html>
<html
	lang="fr">
	<head>
		<meta
			charset="UTF-8"/>
		<title>
			{% block title %}
				DocAuPoste
			{% endblock %}
		</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1">
		<link
			rel="icon"
			type="image/ico"
			href="{{ asset('OPmobility_icon.svg') }}"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('toast') }}
			{{ encore_entry_script_tags('confirmation') }}

			<script>
				var zoneIdFromServer = {{ zone.getId()|default('null')|json_encode|raw }};
			</script>
			<script>
				var productLineIdFromServer = {{ productLine.getId()|default('null')|json_encode|raw }};
			</script>
			<script>
				var categoryIdFromServer = {{ category.getId()|default('null')|json_encode|raw }};
			</script>
			<script>
				var buttonIdFromServer = {{ button.getId()|default('null')|json_encode|raw }};
			</script>

		{% endblock %}
		{% include "services/_toasts.html.twig" %}

	</head>
	<body
		class="d-flex flex-column  min-vh-100">
		<!-- Main Navigation -->
		<nav
			class="navbar navbar-expand-lg navbar-dark flex-shrink-0"
			style="background-color: #1f3e52">
			<div
				class="container d-flex  align-items-end">
				<a
					class="navbar-brand mb-lg-0"
					href="{{ path('app_base') }}">
					<img
						class="img-fluid"
						src="{{ asset('OPmobility_white.svg') }}" alt="Logo de OPmobility"
						role="img"
						width="250"/>
				</a>
				<a
					class="navbar-brand mb-lg-0"
					href="{{ path('app_base') }} ">
					<h1>
						<strong>
							DocAuPoste
						</strong>
					</h1>
				</a>
				{% if app.user is not null %}
					{% if settings.uploadValidation is same as(true) %}
						<div
							class=" d-flex flex-column dropdown justify-content-center">
							{% set inValidations = [] %}
							{% set DisapprovedFile = [] %}
							{% set DisplayedFiles = [] %}

							{% for upload in app.user.uploads %}
								{% if upload.isValidated is same as(null) %}
									{% set inValidations = inValidations|merge([upload]) %}
								{% endif %}
								{% if upload.isValidated is same as(false) %}
									{% set DisapprovedFile = DisapprovedFile|merge([upload]) %}
								{% endif %}
							{% endfor %}
							{% if inValidations|length > 0 %}
								<button
									class="btn dropdown-toggle"
									style="background-color:#007AFF; color:white"
									type="button"
									data-bs-toggle="dropdown"
									aria-expanded="false">
									<span
										class="badge bg-danger rounded-pill">
										{{ inValidations|length }}
									</span>
									Documents en cours de validation
								</button>
								<ul
									class="dropdown-menu dropdown-menu-start shadow shadow-inset"
									aria-labelledby="dropdownMenuButton1">
									{% for upload in inValidations %}
										{% if upload.isValidated is same as(null) %}
											<li>
												<a
													href="{{ path('app_modify_file', {'uploadId': upload.id})}}" class="dropdown-item shadow ">
													{{ upload.filename|upper }}
												</a>
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							{% endif %}
							{% if DisapprovedFile|length > 0 %}
								<button
									class="btn dropdown-toggle"
									style="background-color:#007AFF; color:white"
									type="button"
									data-bs-toggle="dropdown"
									aria-expanded="false">
									<span
										class="badge bg-danger rounded-pill">
										{{ DisapprovedFile|length }}
									</span>
									Documents refusés
								</button>
								<ul
									class="dropdown-menu dropdown-menu-start shadow shadow-inset"
									aria-labelledby="dropdownMenuButton1">
									{% for upload in DisapprovedFile %}

										<li>
											<a
												href="{{ path('app_validation_disapproved_modify_by_upload', {'uploadId': upload.id})}}" class="dropdown-item shadow ">
												{{ upload.filename|upper }}
											</a>
										</li>

									{% endfor %}
								</ul>
							{% endif %}
						</div>
					{% endif %}
				{% endif %}
				<div
					class="ms-auto d-flex align-items-center">
					{% if usersExist is defined %}
						{% if usersExist is not empty %}


							{% if app.user is null %}
								<p>
									<a
										class="btn btn-primary"
										href="{{ path('app_login') }}">
										Connexion
									</a>
								</p>
							{% else %}
								<p
									class="d-flex align-items-center">
									<strong
										class="ms-2 me-2">
										{{ app.user.username|capitalize|split('.')|first }}
										{{ app.user.username|upper|split('.')|last }}
									</strong>
									<a
										class="btn btn-primary"
										href="{{ path('app_logout') }}">
										Déconnexion
									</a>
								</p>


							{% endif %}
						{% endif %}
					{% endif %}
					<div
						style="width: 10px"></div>
					<p>
						<a
							class="btn btn-outline-info"
							href="{{path('app_tutorial')}}">
							TUTO
						</a>
					</p>
				</div>
			</div>
		</nav>
		<!-- End Main Navigation -->
		{% if usersExist is defined %}
			{% if usersExist is empty %}
				<div
					class="container ">
					<h5
						class="my-5">
						<strong>
							Pour commencer à utiliser l'application, veuillez créer le superadministrateur :
						</strong>
					</h5>
					<div
						class="card border-0 shadow rounded-3 my-5">
						<div
							class="card-body">
							<div
								class="row">
								<form
									action="{{ path('app_create_super_admin') }}" method="post">
									{% include "services/account_services/create_account.html.twig" %}
								</form>
							</div>
						</div>
					</div>

				</div>
			{% endif %}
		{% endif %}
		<div
			class="container-fluid container-lg flex-grow-1 d-flex flex-column">
			{% include "services/navbarservices/navbarservices.html.twig" %}
			{% block body %}
				<div
					class="inner-container flex-grow-1 d-flex flex-column w-100">
					{% if app.user %}
						{% if  is_granted('ROLE_SUPER_ADMIN', object = null, field = null)%}
							<aside
								class="position-absolute end-0">
								<a
									href="{{ path('app_super_admin') }}" class="btn shadow bg-dark"
									style="color:white;">
									<span
										class="fa fa-gear"></span>
									<strong>
										<span
											class="button-text">
											Centre de Super-Administration
										</span>
									</strong>
								</a>
							</aside>

						{% endif %}
					{% endif %}
					<p>
						<h1
							class="text-justify mb-2 mt-4 flex-shrink-0">
							<strong>
								Doc Au Poste
							</strong>
						</h1>
					</p>

					<h3
						class="text-justify flex-shrink-0">
						<strong>
							Le site qui vous permet de trouver les documents dont vous avez besoin.
						</strong>
					</h3>
					<div
						class="inner-container d-flex flex-column justify-content-center align-items-center flex-grow-1">
						<div
							class="d-flex  mb-5 mt-5 line-list align-items-center justify-content-center flex-wrap">
							{% for zone in zones %}
								<a
									class="btn btn-primary btn-lg m-5 "
									role="button"
									aria-pressed="true"
									style="color:white"
									href="{{path('app_zone', {zoneId: zone.id})}}">
									<span
										class="line-details text-justify">
										{{ zone.name|split('.')|first|upper }}
									</span>
								</a>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endblock body %}
		</div>
	</body>
	<footer
		class="container py-3 border-top  flex-shrink-0">
		<div
			class="d-flex flex-wrap justify-content-between">
			<div
				class="col-md-5 d-flex align-items-center">
				<span
					class="me-1"
					style="color: red">
					<i
						class="fas fa-copyright"></i>
				</span>
				<a
					target="_blank"
					href="http://topnet.corp.ponet/"
					style="color: #25a1dd"
					class="mb-3  mb-md-0 text-decoration-none lh-1">
					OPmobility
					{{ facilityName|capitalize }}
				</a>
			</div>
			<div>
				<a
					href="javascript:void(0)"
					onclick="event.preventDefault(); window.history.back();">
					<i
						class="fa fa-arrow-circle-o-left"
						'aria-hidden="false"'>
						Retour
					</i>
				</a>
			</div>
			<ul
				class="nav col-md-5 justify-content-end list-unstyled d-flex">
				<li
					class="ms-3">
					<a
						class="text-muted"
						target="_blank"
						href="https://github.com/kiloutyg/">
						<i
							class="fab fa-github"></i>
					</a>
				</li>
			</ul>
		</div>
	</footer>
</html>
