<!DOCTYPE html>
<html
	lang="fr">
	<head>
		<meta
			charset="UTF-8"/>
		<title>
			{% block title %}
				DocAuPoste
			{% endblock %}
		</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1">
		<link
			rel="icon"
			type="image/ico"
			href="{{ asset('OPmobility_icon.svg') }}"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{encore_entry_script_tags('app')}}
			{{encore_entry_script_tags('toast')}}
			{{encore_entry_script_tags('dynamic-iframe')}}
		{% endblock %}


		{% include "services/_toasts.html.twig" %}

	</head>
	<body
		class="d-flex flex-column  min-vh-100 ">
		{% block body %}{% endblock %}

		</body>
	</html>
