{% extends 'base.html.twig' %}

{% block title %}
	Document pour
	{{button.name|split('.')|first|upper}}
	|
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('document-validator') }}
	{{ encore_entry_script_tags('cascading-dropdowns') }}
	{{ encore_entry_script_tags('inactivity-timer') }}
	<script>
	var zoneIdFromServer = {{ button.category.productLine.zone.getId()|default('null')|json_encode|raw }};
</script>
<script>
	var productLineIdFromServer = {{ button.category.productLine.getId()|default('null')|json_encode|raw }};
</script>
<script>
	var categoryIdFromServer = {{ button.category.getId()|default('null')|json_encode|raw }};
</script>
<script>
	var buttonIdFromServer = {{ button.getId()|default('null')|json_encode|raw }};
</script>
{% endblock %}

{% block body %}
	<div
		class="inner-container flex-grow-1 d-flex flex-column">

		{% if uploads|length > 1 %}
			<div>
				<div
					class="justify-content-between align-items-center ">
					<h2>
						<strong>
							Documents pour
							{{button.name|split('.')|first|upper}}
						</strong>
					</h2>
				</div>
			</div>
			{% include 'services/uploads/uploaded.html.twig' %}

		{% elseif uploads|length < 1 %}
			<div
				class="justify-content-between align-items-center ">
				<h2>
					<strong>
						Document pour
						{{button.name|split('.')|first|upper}}
					</strong>
				</h2>
			</div>
			{% include 'services/uploads/uploaded.html.twig' %}

		{% endif %}

	</div>
{% endblock %}
