{% extends 'base.html.twig' %}

{% block title %}
	{{category.name|split('.')|first|upper}}
	|
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('inactivity-timer') }}
{% endblock %}

{% block body %}

	<div
		class="inner-container flex-grow-1 d-flex flex-column">

		{% if app.user %}
			{% if is_granted('ROLE_MANAGER') %}
				<aside
					class="position-absolute end-0">
					<a
						href="{{ path('app_category_admin', {categoryId: category.id}) }}" class="btn shadow  bg-dark "
						style="color:white">
						<span
							class="fa fa-gear"></span>
						<strong>
							<span
								class="button-text">
								Centre d'Administration de Catégories
							</span>
						</strong>
					</a>

				</aside>
			{% endif %}
		{% endif %}

		<p>
			<h2
				class="text-justify mb-2 mt-4">
				<strong>
					{{ category.name|split('.')|first|upper}}
				</strong>
			</h2>
		</p>

		<div>
			<h3
				class="text-justify">
				Les boutons de la catégorie
				{{ category.name|split('.')|first|upper}}
				:
			</h3>
		</div>

		<div
			class="inner-container d-flex flex-column justify-content-center align-items-center flex-grow-1">
			{% if buttons|length > 0 %}
				<div
					class="d-flex mb-5 mt-5 line-list align-items-center justify-content-center flex-wrap">
					{% for button in buttons %}
						{% set validated = '' %}
						{% if button.uploads|length == 1 %}
							{% if settings.isUploadValidation %}
								{% for upload in button.uploads %}
									{% if upload.oldUpload != null and  upload.validation != null and upload.validation.status is same as(null) and upload.isForcedDisplay != true %}
										{% set validated = 'download-non-validated-but-old' %}
									{% elseif upload.oldUpload != null and  upload.validation != null and upload.validation.status is same as(false) %}
										{% set validated = 'download-refused-but-old' %}
									{% elseif  upload.validation != null and upload.validation.status is same as(null)  %}
										{% set validated = 'download-non-validated-upload' %}
									{% elseif  upload.validation != null and upload.validation.status is same as(false) %}
										{% set validated = 'download-refused-upload' %}
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endif %}
						<a
							class="btn btn-primary btn-lg m-5 {{validated}}"
							role="button"
							aria-pressed="true"
							style="color:white"
							href="{{path('app_button', {buttonId: button.id})}}">
							<span
								class="line-details text-justify">
								{{ button.name|split('.')|first|upper}}

							</span>
						</a>
					{% endfor %}
				</div>
			{% else %}
				<button
					class="btn-warning btn btn-lg"
					style="color:red"
					onclick="event.preventDefault(); window.history.back();">
					Il n'y a pas de boutons dans cette catégories.
				</button>
				<a
					href="javascript:void(0)"
					onclick="event.preventDefault(); window.history.back();"></a>
			{% endif %}
		</div>
	</div>
{% endblock %}
