{% extends 'base.html.twig' %}
{% block title %}
	{{productLine.name|split('.')|first|upper}}
	|
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="inner-container flex-grow-1 d-flex flex-column">

		{% if app.user %}
			{% if  is_granted('ROLE_LINE_ADMIN', object = null, field = null) %}
				<aside class="position-absolute end-0">
					<a href="{{ path('app_productline_admin', {productline: productLine.name}) }}" class="btn shadow  bg-dark " style="color:white">
						<span class="fa fa-gear"></span>
						<strong>
							<span class="button-text">Centre d'Administration de Ligne
							</span>
						</strong>
					</a>
				</aside>
			{% endif %}
		{% endif %}
		<p>

			<h2 class="text-justify mb-2 mt-5">
				<strong>
					{{ productLine.name|split('.')|first|upper}}
				</strong>
			</h2>
		</p>

		<div>
			<h3 class="text-justify">Les catégories de la ligne
				{{ productLine.name|split('.')|first|upper }}
				:
			</h3>
			{% set matchingCategories = [] %}
			{% for category in categories %}
				{% if category.productLine.id is same as(productLine.id)  %}
					{% set matchingCategories = matchingCategories|merge([category]) %}
				{% endif %}
			{% endfor %}
		</div>
		<div class="inner-container d-flex flex-column justify-content-center align-items-center flex-grow-1">
			{% if matchingCategories|length > 0 %}
				<div class="d-flex  mb-5 mt-5 line-list align-items-center justify-content-center flex-wrap">

					{% for category in matchingCategories %}
						<a class="btn btn-primary btn-lg m-5" role="button" aria-pressed="true" style="color:white" href="{{path('app_category', {category: category.name, productline: category.productline.name, zone: category.productline.zone.name} )}}">
							<span class="line-details text-justify">
								{{ category.name|split('.')|first|upper }}
							</span>
						</a>
					{% endfor %}
				</div>

			{% else %}
				<div class="alert alert-danger">
					<a href="#" onclick="event.preventDefault(); window.history.back();">
						Il n'y a pas de catégories dans cette ligne.
					</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
