{% extends 'base.html.twig' %}
{% block title %}
	{{productLine.name}}
	|
	{{ parent() }}
{% endblock %}
{% block body %}
	<!DOCTYPE html>
	<html>
		<body>
			<div class=" container  align-items-center">

				<div class="container">
					{% if app.user %}
						{% if is_granted('ROLE_ADMIN', object = null, field = null)  %}
							{# <a href="{{ path('app_productline_edit', {'id': productLine.name, name:productLine.zone.name}) }}" class="btn btn-primary">Edit</a>
																												{{ include('product_line/_delete_form.html.twig') }} #}
							<aside>
								<a href="{{ path('app_productline_upload', {id: productLine.name, name:productLine.zone.name}) }}" class="btn" style="color:white">Upload</a>
								<br>
								<a href="{{path('app_upload_files', {id: productLine.name, name: productLine.zone.name})}}" class="btn" style="color:white">
									Uploaded files
								</a>
							</aside>
						{% endif %}
					{% endif %}

					<h2>
						<strong>
							{{ productLine.name }}
						</strong>
					</h2>


					<p>
						<div class="col-12 col-md-8 ps-5 mb-5 mt-5 ">
							<h2 class="mb-4">{{productLine.name}}</h2>
							{{ dump(productLine) }}
							{{ dump(productLine.zone.id) }}

						</div>
					</p>
				</div>
			</div>
		</body>
	</html>
{% endblock %}
