{% extends 'base.html.twig' %}
{% block title %}
	{{productLine.name}}
	|
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="container">
		{% if app.user %}
			{% if  is_granted('ROLE_LINE_ADMIN', object = null, field = null) %}
				<aside class="position-absolute end-0">
					<a href="{{ path('app_line_admin', {id: productLine.name}) }}" class="btn" style="color:white">Centre d'Administration de Ligne</a>
					<br>


				</aside>
			{% endif %}
		{% endif %}
		<h2 class="mt-5">
			<strong>
				{{ productLine.name|capitalize }}
			</strong>
		</h2>
		<p>
			<div class=" mb-5 mt-5">
				<h2 class="mb-4 text-justify">Les catégories de la ligne
					{{ productLine.name|capitalize }}
					:
				</h2>
				{% set matchingCategories = [] %}
				{% for category in categories %}
					{% if category.productLine.id is same as(productLine.id)  %}
						{% set matchingCategories = matchingCategories|merge([category]) %}
					{% endif %}
				{% endfor %}
			</p>
		</p>
		<p>
			<div>
				{% if matchingCategories|length > 0 %}
					{% for category in matchingCategories %}
						<div class="d-flex ps-5 mb-5 mt-5 line-list">
							<a href="{{path('app_category', {category: category.name, id: category.productline.name, name: category.productline.zone.name} )}}">
								<span class="line-details text-justify">
									-{{ category.name }}
									<id={{category.id}}>>
									</span>
								</a>
							</div>
						{% endfor %}
					{% else %}
						<div class="alert alert-danger">
							<a href="#" onclick="event.preventDefault(); window.history.back();">
								Il n'y a pas de catégories dans cette ligne.
							</a>
						</div>
					{% endif %}
				</div>
			</div>
		</p>
	</div>
{% endblock %}
