{% extends 'base.html.twig' %}
{% block title %}
	{{zone.name|split('.')|first|upper}}
	|
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="inner-container flex-grow-1 d-flex flex-column">

		{% if app.user %}
			{% if  is_granted('ROLE_ADMIN') %}
				<aside class="position-absolute end-0">
					<a href="{{ path('app_zone_admin', {zone: zone.name}) }}" class="btn" style="color:white">Centre d'Administration de Zone</a>
				</aside>
			{% endif %}
		{% endif %}
		<p>
			<h2 class="text-justify mb-2 mt-5">
				<strong>
					{{ zone.name|split('.')|first|upper }}
				</strong>
			</h2>
		</p>

		<div>
			<h3 class=" text-justify">Les lignes de la zone
				{{zone.name|split('.')|first|upper}}:
			</h3>
			{% set matchingProductLines = [] %}
			{% for productLine in productLines %}
				{% if productLine.zone.id is same as(zone.id)  %}
					{% set matchingProductLines = matchingProductLines|merge([productLine]) %}
				{% endif %}
			{% endfor %}
		</div>

		<div class="inner-container d-flex flex-column justify-content-center align-items-center flex-grow-1">
			{% if matchingProductLines|length > 0 %}
				<div class="d-flex  mb-5 mt-5 line-list align-items-center justify-content-center flex-wrap">

					{% for productLine in matchingProductLines %}
						<a class="btn btn-primary btn-lg m-5" role="button" aria-pressed="true" style="color:white" href="{{path('app_productline', {productline: productLine.name, zone: productLine.zone.name} )}}">
							<span class="line-details text-justify">
								{{ productLine.name|split('.')|first|upper }}
							</span>
						</a>
					{% endfor %}
				</div>

			{% else %}
				<div class="alert alert-danger">
					<a href="#" onclick="event.preventDefault(); window.history.back();">
						Il n'y a pas de lignes dans cette zone.
					</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
