{% extends 'base.html.twig' %}
{% block title %}
	{{zone.name|split('.')|first|capitalize}}
	|
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="container">

		{% if app.user %}
			{% if  is_granted('ROLE_ADMIN') %}
				<aside class="position-absolute end-0">
					<a href="{{ path('app_zone_admin', {zone: zone.name}) }}" class="btn" style="color:white">Centre d'Administration de Zone</a>
				</aside>
			{% endif %}
		{% endif %}
		<p>
			<h2 class="text-justify mb-2 mt-5">
				<strong>
					{{ zone.name|split('.')|first|capitalize }}
				</strong>
			</h2>
		</p>
		<p>
			<div>
				<h3 class="mb-4 text-justify">Les lignes de la zone
					{{zone.name|split('.')|first|capitalize}}:
				</h3>
				{% set matchingProductLines = [] %}
				{% for productLine in productLines %}
					{% if productLine.zone.id is same as(zone.id)  %}
						{% set matchingProductLines = matchingProductLines|merge([productLine]) %}
					{% endif %}
				{% endfor %}
			</p>
		</p>
		<p>
			<div>
				{% if matchingProductLines|length > 0 %}
					{% for productLine in matchingProductLines %}
						<div class="d-flex ps-5 mb-5 mt-5 line-list">
							<a class="btn btn-primary btn-lg btn-block " role="button" aria-pressed="true" href="{{path('app_productline', {productline: productLine.name, zone: productLine.zone.name} )}}">
								<span class="line-details text-justify">
									{{ productLine.name|split('.')|first|capitalize }}
								</span>
							</a>
						</div>
					{% endfor %}
				{% else %}
					<div class="alert alert-danger">
						<a href="#" onclick="event.preventDefault(); window.history.back();">
							Il n'y a pas de lignes dans cette zone.
						</a>
					</div>
				{% endif %}
			</div>
		</p>
	</div>
</p></div>{% endblock %}
