{% extends 'base.html.twig' %}
{% block title %}
	{{zone.name}}
	|
	{{ parent() }}
{% endblock %}
{% block body %}
	<div style="margin-left: 15%" class="container align-center">

		{% if app.user %}
			{% if  is_granted('ROLE_ADMIN', object = null, field = null) %}
				<aside>
					<a href="{{ path('app_admin', {id: zone.name}) }}" class="btn" style="color:white">Admin Center</a>
				</aside>
			{% endif %}
		{% endif %}
		<h2>
			<strong>
				{{ zone.name }}
			</strong>
		</h2>


		<p>
			<div class="col-12 col-md-8 ps-5 mb-5 mt-5 ">
				<h2 class="mb-4">Les lignes de la zone
					{{zone.name}}:
				</h2>
				{% set matchingProductLines = [] %}
				{% for productLine in productLines %}
					{% if productLine.zone.id is same as(zone.id)  %}
						{% set matchingProductLines = matchingProductLines|merge([productLine]) %}
					{% endif %}
				{% endfor %}

				{% if matchingProductLines|length > 0 %}
					{% for productLine in matchingProductLines %}
						<div class="d-flex ps-5 mb-5 mt-5 line-list">
							<a href="{{path('app_productline', {id: productLine.name, name: productLine.zone.name} )}}">
								<span class="line-details">
									-{{ productLine.name }}
									<id={{productLine.id}}>></span>
								</a>
							</div>
						{% endfor %}
					{% else %}
						<div class="alert alert-danger">
							<a href="{{path('app_base')}}">
								Il n'y a pas de lignes dans cette zone.
							</a>
						</div>
					{% endif %}

				</p>
			</p>
		</p>
	</div>
{% endblock %}
