<turbo-frame
	id="iluo-levels-section"
	class="container row mx-auto px-0 px-md-2">
	{{ form_start(iluoLevelsForm, { attr: {class: 'col-lg-6 col-md-12 col-sm-12 d-flex flex-column', method: 'POST', action: path('app_iluo_iluolevels_checklist_admin')}}
	) }}
	<div
		class="col-12">
		{{ form_label(iluoLevelsForm.level) }}
		{{ form_widget(iluoLevelsForm.level) }}
	</div>
	<div
		class="col-12">
		{{ form_label(iluoLevelsForm.description) }}
		{{ form_widget(iluoLevelsForm.description) }}
	</div>
	<div
		class="col-12">
		{{ form_widget(iluoLevelsForm.save) }}
	</div>
	<div
		id="flash-messages">
		{% for label, messages in app.flashes %}
			<div
				class="alert alert-{{ label }}">
				{% for message in messages %}
					<p>
						{{ message }}
					</p>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	{{ form_end(iluoLevelsForm) }}
	{% if iluoLevels is not empty %}
		<div
			class="col-lg-6 col-md-12 col-sm-12 mt-auto mb-auto accordion"
			id="accordionIluoLevelsList">
			<div
				class="accordion-item shadow-lg shadow-lg-inset border border-dark">
				<h2
					class="accordion-header"
					id="headingIluoLevelsList">
					<button
						class="accordion-button bg-white text-dark collapsed"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#collapseIluoLevelsList"
						aria-expanded="false"
						aria-controls="collapseIluoLevelsList">
						<strong>
							Liste des Niveaux
						</strong>
					</button>
				</h2>
				<div
					id="collapseIluoLevelsList"
					class="accordion-collapse collapse "
					aria-labelledby="headingIluoLevelsList"
					data-bs-parent="#accordionIluoLevelsList">
					<div
						class="accordion-body bg-white text-dark">
						<ul
							class="list-group">
							{% for iluoLevel in iluoLevels %}
								<li
									class="list-group-item bg-white text-dark d-flex justify-content-between align-items-center">
									<strong>
										{{ iluoLevel.level }}
									</strong>
									{{ delete_form('iluoLevels', iluoLevel.id, 'app_iluo_iluolevels_checklist_admin') }}
								</li>
								<li
									class="list-group-item bg-white text-dark d-flex justify-content-between align-items-center">
									{% if iluoLevel.description is not empty %}
										{{ iluoLevel.description }}
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
</turbo-frame>
