<turbo-frame
	id="steps-checklist-section"
	class="container row mx-auto px-0 px-md-2">
	{{ form_start(stepsForm, { attr: {class: 'col-lg-10 col-md-12 col-sm-12 mx-auto d-flex flex-column', method: 'POST', action: path('app_iluo_steps_checklist_admin')}}
	) }}
	<div
		class="col-12">
		{{ form_label(stepsForm.question) }}
		{{ form_widget(stepsForm.question) }}
	</div>
	<div
		class="col-12">
		{{ form_label(stepsForm.iluoLevel) }}
		{{ form_widget(stepsForm.iluoLevel) }}
	</div>
	<div
		class="col-12">
		{{ form_label(stepsForm.stepsTitle) }}
		{{ form_widget(stepsForm.stepsTitle) }}
	</div>
	<div
		class="col-12">
		{{ form_label(stepsForm.stepsSubheadings) }}
		{{ form_widget(stepsForm.stepsSubheadings) }}
	</div>
	<div
		class="col-12">
		{{ form_label(stepsForm.trainingMaterialType) }}
		{{ form_widget(stepsForm.trainingMaterialType) }}
	</div>
	<div
		class="col-12">
		{{ form_widget(stepsForm.save) }}
	</div>
	<div
		id="flash-messages">
		{% for label, messages in app.flashes %}
			<div
				class="alert alert-{{ label }}">
				{% for message in messages %}
					<p>
						{{ message }}
					</p>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	{{ form_end(stepsForm) }}
	{% if iluoLevels is defined and iluoLevels is not empty %}
		<div
			class="align-items-center text-white bg-secondary my-5 py-4 text-center ">
			<div
				class="col-lg-10 col-md-12 col-sm-12 mx-auto accordion"
				id="accordionAdminStepsList">
				<div
					class="accordion-item shadow-lg shadow-lg-inset border border-dark">
					<h2
						class="accordion-header"
						id="headingStepsList">
						<button
							class="accordion-button bg-white text-dark collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseStepsList"
							aria-expanded="false"
							aria-controls="collapseStepsList">
							<strong>
								Liste des Questions d'Etape
							</strong>
						</button>
					</h2>
					<div
						id="collapseStepsList"
						class="accordion-collapse collapse "
						aria-labelledby="headingStepsList"
						data-bs-parent="#accordionAdminStepsList">
						<div
							class="accordion-body bg-white text-dark">
							<ul
								class="list-group">
								{% set displayedSteps = [] %}
								{% set iluoLevelIndex = 0 %}
								<div
									class="accordion"
									id="accordionStepsList">
									{% for iluoLevel in iluoLevels %}
										{% set iluoLevelIndex = iluoLevelIndex + 1 %}
										<div
											class="accordion-item shadow-lg shadow-lg-inset border border-dark">
											<li
												class="list-group-item bg-white text-dark d-flex justify-content-between align-items-center accordion-header "
												id="headingIluoLevelStepsList{{ iluoLevelIndex }}">
												<button
													class="accordion-button collapsed"
													type="button"
													data-bs-toggle="collapse"
													data-bs-target="#collapseIluoLevelStepsList{{ iluoLevelIndex }}"
													aria-expanded="false"
													aria-controls="collapseIluoLevelStepsList{{ iluoLevelIndex }}">
													<strong>
														{{ iluoLevel.level }}
													</strong>
												</button>
											</li>
											<div
												id="collapseIluoLevelStepsList{{ iluoLevelIndex }}"
												class="accordion-collapse collapse"
												aria-labelledby="headingIluoLevelStepsList{{ iluoLevelIndex }}"
												data-bs-parent="#accordionStepsList">
												<div
													class="accordion-body">
													{% if iluoLevel.stepsTitles is not empty or iluoLevel.steps is not empty %}
													{% set stepTitleIndex = 0 %}														
													{% for stepTitle in iluoLevel.stepsTitles %}
														{% set stepTitleIndex = stepTitleIndex + 1 %}
														<div
															class="accordion"
															id="stepTitleStepsList{{ iluoLevelIndex }}{{ stepTitleIndex }}">
															<div
																class="accordion-item">
																<li
																	class="list-group-item bg-white text-dark d-flex justify-content-between align-items-center accordion-header"
																	id="headingStepTitleStepsList{{ iluoLevelIndex }}{{ stepTitleIndex }}">
																	<button
																		class="accordion-button collapsed"
																		type="button"
																		data-bs-toggle="collapse"
																		data-bs-target="#collapseStepTitleStepsList{{ iluoLevelIndex }}{{ stepTitleIndex }}"
																		aria-expanded="false"
																		aria-controls="collapseStepTitleStepsList{{ iluoLevelIndex }}{{ stepTitleIndex }}">
																		<strong>
																			{{ stepTitle.title }}
																		</strong>
																	</button>
																</li>
																<div
																	id="collapseStepTitleStepsList{{ iluoLevelIndex }}{{ stepTitleIndex }}"
																	class="accordion-collapse collapse"
																	aria-labelledby="headingStepTitleStepsList{{ iluoLevelIndex }}{{ stepTitleIndex }}"
																	data-bs-parent="#collapseIluoLevelStepsList{{ iluoLevelIndex }}">
																	<div
																		class="accordion-body">
																		{% if stepTitle.stepsSubheadings is not empty or stepTitle.steps is not empty %}
																		{% set stepsSubheadingsIndex = 0 %}
																		{% for stepSubheadings in stepTitle.stepsSubheadings %}
																				{% set stepsSubheadingsIndex = stepsSubheadingsIndex + 1 %}
																				<div
																					class="accordion"
																					id="stepSubheadingsStepsList{{ iluoLevelIndex }}{{ stepTitleIndex }}{{ stepsSubheadingsIndex }}">
																					<div
																						class="accordion-item">
																						<li
																							class="list-group-item bg-white text-dark d-flex justify-content-between align-items-centeraccordion-header"
																							id="headingStepSubheadingsStepsList{{ iluoLevelIndex }}{{ stepTitleIndex }}{{ stepsSubheadingsIndex }}">
																							<button
																								class="accordion-button collapsed"
																								type="button"
																								data-bs-toggle="collapse"
																								data-bs-target="#collapseStepSubheadingsStepsList{{ iluoLevelIndex }}{{ stepTitleIndex }}{{ stepsSubheadingsIndex }}"
																								aria-expanded="false"
																								aria-controls="collapseStepSubheadingsStepsList{{ iluoLevelIndex }}{{ stepTitleIndex }}{{ stepsSubheadingsIndex }}">
																								<strong>
																									{{ stepSubheadings.heading }}
																								</strong>
																							</button>
																						</li>
																						<div
																							id="collapseStepSubheadingsStepsList{{ iluoLevelIndex }}{{ stepTitleIndex }}{{ stepsSubheadingsIndex }}"
																							class="accordion-collapse collapse"
																							aria-labelledby="headingStepSubheadingsStepsList{{ iluoLevelIndex }}{{ stepTitleIndex }}{{ stepsSubheadingsIndex }}"
																							data-bs-parent="#collapseStepTitleStepsList{{ iluoLevelIndex }}{{ stepTitleIndex }}">

																							<div
																								class="accordion-body">
																								{% if stepSubheadings.steps is not empty %}
																								{% for step in stepSubheadings.steps %}
																									{% if step.id not in displayedSteps %}
																										{% include 'services/iluo/iluo_admin_component/iluo_checklist_admin_component/iluo_steps_list_component/iluo_steps_lists_element.html.twig' %}
																										{% set displayedSteps = displayedSteps|merge({(step.id): step.id}) %}
																									{% endif %}
																								{% endfor %}
																								{% else %}
																									<p class="text-center">
																										Aucune question d'étape n'est disponible pour ce sous-titre.
																									</p>
																								{% endif %}
																							</div>
																						</div>
																					</div>
																				</div>
																		{% endfor %}
																		{% for step in stepTitle.steps %}
																			{% if step.id not in displayedSteps %}
																				{% include 'services/iluo/iluo_admin_component/iluo_checklist_admin_component/iluo_steps_list_component/iluo_steps_lists_element.html.twig' %}
																				{% set displayedSteps = displayedSteps|merge({(step.id): step.id}) %}
																			{% endif %}
																		{% endfor %}
																		{% else %}
																			<p class="text-center">
																				Aucune question d'étape n'est disponible pour ce titre.
																			</p>
																		{% endif %}
																	</div>
																</div>
															</div>
														</div>
													{% endfor %}
													{% for step in iluoLevel.steps %}
														{% if step.id not in displayedSteps %}
															{% include 'services/iluo/iluo_admin_component/iluo_checklist_admin_component/iluo_steps_list_component/iluo_steps_lists_element.html.twig' %}
															{% set displayedSteps = displayedSteps|merge({(step.id): step.id}) %}
														{% endif %}
													{% endfor %}
													{% else %}
														<p class="text-center">
															Aucune question d'étape n'est disponible pour ce niveau.
														</p>
													{% endif %}
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
</turbo-frame>
