<turbo-frame
	id="training-material-type-section"
	class="container row mx-auto px-0 px-md-2">
	{{ form_start(trainingMaterialTypeForm, { attr: {class: 'col-lg-6 col-md-12 col-sm-12 d-flex flex-column', method: 'POST', action: path('app_iluo_trainingmaterialtype_checklist_admin')}}
	) }}
	<div
		class="col-12">
		{{ form_label(trainingMaterialTypeForm.name) }}
		{{ form_widget(trainingMaterialTypeForm.name) }}
		{{ form_widget(trainingMaterialTypeForm.save) }}
	</div>
	<div
		id="flash-messages">
		{% for label, messages in app.flashes %}
			<div
				class="alert alert-{{ label }}">
				{% for message in messages %}
					<p>
						{{ message }}
					</p>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	{{ form_end(trainingMaterialTypeForm) }}
	{% if trainingMaterialTypes is not empty %}
		<div
			class="col-lg-6 col-md-12 col-sm-12 mt-auto mb-auto accordion"
			id="accordionTrainingMaterialTypeList">
			<div
				class="accordion-item shadow-lg shadow-lg-inset border border-dark">
				<h2
					class="accordion-header"
					id="headingTrainingMaterialTypeList">
					<button
						class="accordion-button bg-white text-dark collapsed"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#collapseTrainingMaterialTypeList"
						aria-expanded="false"
						aria-controls="collapseTrainingMaterialTypeList">
						<strong>
							Liste des Produits
						</strong>
					</button>
				</h2>
				<div
					id="collapseTrainingMaterialTypeList"
					class="accordion-collapse collapse "
					aria-labelledby="headingTrainingMaterialTypeList"
					data-bs-parent="#accordionTrainingMaterialTypeList">
					<div
						class="accordion-body bg-white text-dark">
						<ul
							class="list-group">
							{% for trainingMaterialType in trainingMaterialTypes %}
								<li
									class="list-group-item bg-white text-dark d-flex justify-content-between align-items-center">
									<strong>
										{{ trainingMaterialType.name }}
									</strong>

									{{ delete_form('trainingMaterialType', trainingMaterialType.id, 'app_iluo_trainingmaterialtype_checklist_admin') }}

								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
</turbo-frame>
