<strong>
	<ul
		class="list-unstyled d-flex align-items-center p-1 mb-1 {{ trainingRecord != null ? (trainingRecord.trained ? 'text-white bg-success' : 'text-dark bg-warning') : 'text-white bg-danger' }}">
		<li
			style="flex:0.3525; text-align: left;"
			class="mx-auto">
			{{operator.name|upper|split('.')|last }}
			{{operator.name|capitalize|split('.')|first }}

		</li>
		<li
			style="flex:0.01; text-align: center;"
			class="mx-auto">
			|
		</li>
		<li
			style="flex:0.3; text-align: center;"
			class="mx-auto">
			{{ operator.team.name != null ? operator.team.name : 'NONE' }}
			&nbsp;
			{{ operator.uaps.first != "" ? operator.uaps.first.name : 'NONE' }}
		</li>
		<li
			style="flex:0.01; text-align: center;"
			class="mx-auto">
			|
		</li>
		<li

			style="flex:0.3525; text-align: right;"
			class="mx-auto">

			{{ trainingRecord != null ? (trainingRecord.trained ? 'Formé le ' ~ trainingRecord.date|date('d/m/Y') : 'À requalifier') : 'À former' }}
		</li>
	</ul>
</strong>
