<script>
	var zoneIdFromServer = {{ upload.button.category.productLine.zone.getId()|default('null')|json_encode|raw }};
</script>
<script>
	var productLineIdFromServer = {{ upload.button.category.productLine.getId()|default('null')|json_encode|raw }};
</script>
<script>
	var categoryIdFromServer = {{ upload.button.category.getId()|default('null')|json_encode|raw }};
</script>
<script>
	var buttonIdFromServer = {{ upload.button.getId()|default('null')|json_encode|raw }};
</script>
<div
	class="accordion mx-auto col-8 mb-1 justify-content-center"
	id="accordionOtherModifications">
	<div
		class="accordion-item">
		<div
			class="accordion-header"
			id="otherModifications-header">
			<label
				class="accordion-button m-0 mt-0 mb-0 btn btn-outline-primary collapsed"
				for="otherModifications"
				data-bs-toggle="collapse"
				data-bs-target="#otherModifications"
				aria-expanded="false"
				aria-controls="otherModifications"
				id="otherModificationsSelect">
				<strong>
					Autres modifications
				</strong>
				&nbsp; (Ouvrez ce menu pour acceder aux autres modifications)
			</label>
		</div>
		<div
			id="otherModifications"
			aria-labelledby="otherModifications"
			data-bs-parent="#accordionOtherModifications"
			class="accordion-collapse collapse ">
			<div
				class="col-10 mx-auto"
				data-controller="filename-validation">
				<div
					class="mb-3">
					{{ form_label(form.filename, 'Nouveau nom du fichier:', {'label_attr': {'class': 'form-label', 'style': 'color:black'}}
					) }}
					<div
						data-filename-validation-target="message"
						class="newFilename-message "></div>
					{{ form_widget(form.filename, {'attr': {'class': 'form-control', 'id': 'filename', 'placeholder': 'Entrer un nouveau nom de fichier (optionnel)'}}
					) }}
				</div>
				<div
					class="mb-3">
					{{ form_label(form.originalFilePath, 'Emplacement du fichier source (optionnel) :', {'label_attr': {'class': 'form-label', 'style': 'color:black'}}
					) }}
					{{ form_widget(form.originalFilePath, {'attr': {'class': 'form-control', 'id': 'originalFilePath', 'placeholder': 'Entrer l\'emplacement du fichier source (optionnel)'}}
					) }}
				</div>
				<div
					style='color:black'>
					{# Display the current button hierarchy #}
					Zone:
					{{ upload.button.category.productLine.zone.name|split('.')|first|upper }}
					> Produit:
					{{ upload.button.category.productLine.name|split('.')|first|upper }}
					> Categorie:
					{{ upload.button.category.name|split('.')|first|upper }}
					> Bouton:
					{{ upload.button.name|split('.')|first|upper }}
					:
				</div>
				<div
					class="row">
					<div
						class="col-md-2 col-sm-2 mt-2 mb-2">
						<label
							for="zone"
							style="color:black">
							Zone:
						</label>
					</div>
					<div
						class="col-md-10 col-sm-10 mt-2 mb-2">
						<select
							name="zone"
							id="zone"
							class="form-select"
							required>
							<option
								value=""
								selected
								disabled
								hidden>
								Choisir une Zone
							</option>
						</select>
					</div>
					<div
						class="col-md-2 col-sm-2 mt-2 mb-2">
						<label
							for="productLine"
							style="color:black">
							Ligne:
						</label>
					</div>
					<div
						class="col-md-10 col-sm-10 mt-2 mb-2">
						<select
							name="productLine"
							id="productLine"
							class="form-select"
							required>
							<option
								value=""
								selected
								disabled
								hidden>
								Choisir une Ligne
							</option>
						</select>
					</div>
					<div
						class="col-md-2 col-sm-2 mt-2 mb-2">
						<label
							for="category"
							style="color:black">
							Categorie:
						</label>
					</div>
					<div
						class="col-md-10 col-sm-10 mt-2 mb-2">
						<select
							name="category"
							id="category"
							class="form-select"
							required>
							<option
								value=""
								selected
								disabled
								hidden>
								Choisir une Catégorie
							</option>
						</select>
					</div>
					<div
						class="col-md-2 col-sm-2 mt-2 mb-2">
						<label
							for="button"
							style="color:black">
							Bouton:
						</label>
					</div>
					<div
						class="col-md-10 col-sm-10 mt-2 mb-4">
						{{ form_widget(form.button,{'attr': {'class': 'form-select', 'name': 'button', 'id': 'upload_button', 'required': true}}
						) }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
