<turbo-frame
	id="training-records-form">
	{% if selectedOperators is defined and selectedOperators is not empty %}

		<form
			class="d-flex flex-column justify-content-evenly"
			id="trainingRecords-form"
			method="post"
			action="{{path('app_training_record_form', {'uploadId': upload.id, 'teamId': team.id, 'uapId': uap.id})}}">
			<p
				style="flex:1;"
				class=" mx-2 card text-center">
				Liste des Opérateurs de l'équipe
				{{team.name}}
				pour l'UAP
				{{uap.name}}
				.
			</p>


			{% for operator in selectedOperators %}
				{% set trainingRecord = operator.trainingRecords|filter(record => record.upload.id == upload.id) | first %}
				<strong>
					<ul
						class="list-unstyled d-flex align-items-center p-1 mb-1 {{ trainingRecord != null ? (trainingRecord.trained ? 'text-white bg-success' : 'text-dark bg-warning') : 'text-white bg-danger' }}">

						<li
							class="flex-fill text-start mx-auto">
							{{ operator.name }}
							<input
								type="hidden"
								name="operators[{{ operator.id }}][id]"
								value="{{ operator.id }}">
						</li>
						<li
							class="mx-auto">
							-
						</li>
						<li
							class="flex-fill text-center mx-auto">
							{{ operator.team.name }}
						</li>
						<li
							class="mx-auto">
							-
						</li>
						<li
							class="flex-fill text-center mx-auto">
							{{ operator.uap.name }}
						</li>
						<li
							class="mx-auto">
							-
						</li>

						{% if trainingRecord == null %}

							<li
								class="flex-grow-1 text-end mx-auto">
								À former  -
							</li>
							<div
								data-controller="operator-trainer">
								<li
									class="flex-grow-1 text-end mx-auto"
									data-controller="operator-training"
									name="trainingCheckbox{{ operator.id }}"
									id="trainingCheckbox{{ operator.id }}">
									<input
										type="text"
										pattern="\d*"
										maxlength="5"
										class="form-control form-control-sm operator-input mx-auto"
										data-operator-training-target="trainingOperatorCode"
										data-action="keyup->operator-training#validateCodeEntryForTraining"
										data-operator-id="{{ operator.id }}" data-team-id="{{ team.id }}" data-uap-id="{{ uap.id }}" placeholder="CodeOpé"
										id="trainingOperatorCode{{ operator.id }}"
										name="operators[{{ operator.id }}][trainingOperatorCode]"
										disabled>
								</li>
							</div>
						{% else %}
							{% if trainingRecord.trained %}
								<li
									class="flex-grow-1 text-end mx-auto">
									Formé le
									{{ trainingRecord.date|date('d/m/Y') }}
								</li>
							{% else %}


								<li
									class="flex-grow-1 text-end mx-auto">
									À réentrainer -
								</li>
								<div
									data-controller="operator-trainer">
									<li
										class="flex-grow-1 text-end mx-auto"
										data-controller="operator-training"
										name="trainingCheckbox{{ operator.id }}"
										id="trainingCheckbox{{ operator.id }}">
										<input
											type="text"
											pattern="\d*"
											maxlength="5"
											class="form-control form-control-sm operator-input mx-auto"
											data-operator-training-target="trainingOperatorCode"
											data-action="keyup->operator-training#validateCodeEntryForTraining"
											data-operator-id="{{ operator.id }}" data-team-id="{{ team.id }}" data-uap-id="{{ uap.id }}" placeholder="CodeOpé"
											id="revalidateOperatorCode{{ operator.id }}"
											name="operators[{{ operator.id }}][revalidateOperatorCode]"
											disabled>
									</li>
								</div>
							{% endif %}
						{% endif %}
					</ul>
				</strong>
			{% endfor %}
			<div

				id="trainingValidationSubmitContainer"
				name="trainingValidationSubmitContainer"></div>
		</form>
	{% else %}
		{% if trainingRecords is defined and trainingRecords is not empty %}
			<p
				style="flex:1;"
				class=" mx-2 card text-center">
				Liste de tous les opérateurs formés, tout UAP et équipe confondu.
				<br>
				Pour modifier ces informations, veuillez sélectionner une équipe et une UAP.

			</p>
			{% for record in trainingRecords %}
				<strong>
					<ul
						class="list-unstyled d-flex align-items-center p-1 mb-1 {{ record.trained ? 'text-white bg-success' : 'text-dark bg-warning' }}">
						<div
							style="flex:0.2; text-align: left;"
							class="mx-auto">
							{{record.operator.name}}

						</div>
						<div
							style="flex:0.05; text-align: center;"
							class="mx-auto">
							-
						</div>
						<div
							style="flex:0.15; text-align: center;"
							class="mx-auto">
							{{record.operator.team.name}}
						</div>
						<div
							style="flex:0.05; text-align: center;"
							class="mx-auto">
							-
						</div>
						<div
							style="flex:0.15; text-align: center;"
							class="mx-auto">
							{{record.operator.uap.name}}
						</div>
						<div
							style="flex:0.05; text-align: center;"
							class="mx-auto">
							-
						</div>
						<div
							style="flex:0.3; text-align: right;"
							class="mx-auto">

							{{ record.trained ? 'Formé le ' ~ record.date|date('d/m/Y') : 'À réentrainer' }}

						</div>
					</ul>
				</strong>

			{% endfor %}
			<p
				style="flex:1;"
				class=" mx-2 card text-center">
				Liste de tous les opérateurs Non-formés, tout UAP et équipe confondu.
				<br>
				Pour modifier ces informations, veuillez sélectionner une équipe et une UAP.

			</p>
			{% for operator in operators %}
				{% set trainingRecord = operator.trainingRecords|filter(record => record.upload.id == upload.id) | first %}
				{% if trainingRecord == null %}

					<strong>
						<ul
							class="list-unstyled d-flex align-items-center p-1 mb-1 text-white bg-danger">
							<div
								style="flex:0.2; text-align: left;"
								class="mx-auto">
								{{operator.name}}
								<input
									type="hidden"
									name="operators[{{ operator.id }}][id]"
									value="{{operator.id}}">
							</div>
							<div
								style="flex:0.05; text-align: center;"
								class="mx-auto">
								-
							</div>
							<div
								style="flex:0.15; text-align: center;"
								class="mx-auto">
								{{operator.team.name}}
							</div>
							<div
								style="flex:0.05; text-align: center;"
								class="mx-auto">
								-
							</div>
							<div
								style="flex:0.15; text-align: center;"
								class="mx-auto">
								{{operator.uap.name}}
							</div>
							<div
								style="flex:0.05; text-align: center;"
								class="mx-auto">
								-
							</div>
							<div
								style="flex:0.3; text-align: right;"
								class="mx-auto">

								À former
							</div>

						</ul>
					</strong>
				{% endif %}
			{% endfor %}
		{% else %}
			<p
				style="flex:1;"
				class=" mx-2 card">
				Aucune liste correspondant aux critéres n'a été trouvé, sélectionnez d'autres critéres ou ajouté des opérateurs à la liste.

			</p>
			{% for operator in operators %}
				{% set trainingRecord = operator.trainingRecords|filter(record => record.upload.id == upload.id) | first %}
				<strong>
					<ul
						class="list-unstyled d-flex align-items-center p-1 mb-1 {{ trainingRecord != null ? (trainingRecord.trained ? 'text-white bg-success' : 'text-dark bg-warning') : 'text-white bg-danger' }}">
						<div
							style="flex:2; text-align: left;"
							class="mx-auto">
							{{operator.name}}
							<input
								type="hidden"
								name="operators[{{ operator.id }}][id]"
								value="{{operator.id}}">
						</div>
						<div
							style="flex:0; text-align: center;"
							class="mx-auto">
							-
						</div>
						<div
							style="flex:1; text-align: center;"
							class="mx-auto">
							{{operator.team.name}}
						</div>
						<div
							style="flex:0; text-align: center;"
							class="mx-auto">
							-
						</div>
						<div
							style="flex:1; text-align: center;"
							class="mx-auto">
							{{operator.uap.name}}
						</div>
						<div
							style="flex:0; text-align: center;"
							class="mx-auto">
							-
						</div>
						<div
							style="flex:2; text-align: right;"
							class="mx-auto">

							{% if trainingRecord == null %}
								À former

							{% else %}
								{% if trainingRecord.trained %}
									Formé le
									{{ trainingRecord.date|date('d/m/Y') }}
								{% else %}
									À réentrainer
								{% endif %}
							{% endif %}
						</div>

					</ul>
				</strong>
			{% endfor %}

		{% endif %}
	{% endif %}
</turbo-frame>
