{% macro trainingStatus(trainingRecord, operatorId, teamId, uapId) %}
	{% if trainingRecord %}
		<li
			style="flex:0.25; text-align: right;"
			class="mx-auto">
			{% if trainingRecord.trained %}
				{{'Formé le ' ~ trainingRecord.date|date('d/m/Y')}}
				{% if date(trainingRecord.date) > date('now - 1 week') and is_granted('ROLE_MANAGER') %}
					<a
						href="{{path('app_training_record_delete_weeks_old', {'trainingRecordId': trainingRecord.id, 'uploadId': trainingRecord.Upload.id, 'teamId': teamId, 'uapId': uapId})}}" class="btn btn-danger"
						disabled>
						Supprimer
					</a>
				{% endif %}
			{% else %}
				{{'À requalifier'}}
			{% endif %}
		</li>
		{% if not trainingRecord.trained %}
			{# Additional elements for training in progress #}

			<li
				data-controller="operator-training"
				style="flex:0.3; text-align: right;"
				class="flex-grow-0.5"
				name="trainingCheckbox{{ operatorId }}"
				id="trainingCheckbox{{ operatorId }}">
				<input
					type="password"
					class="form-control form-control-sm operator-input mx-auto"
					data-operator-training-target="trainingOperatorCode"
					data-action="keyup->operator-training#validateCodeEntryForTraining"
					data-operator-id="{{ operatorId }}" data-team-id="{{ teamId }}" data-uap-id="{{ uapId }}" placeholder="CodeOpé"
					id="revalidateOperatorCode{{ operatorId }}"
					name="operators[{{ operatorId }}][revalidateOperatorCode]"
					disabled>
			</li>
		{% endif %}
	{% else %}
		<li
			style="flex:0.125; text-align: right;"
			class="mx-auto">
			À former
		</li>

		<li
			data-controller="operator-training"
			style="flex:0.275; text-align: right;"
			class="flex-grow-0.5"
			name="trainingCheckbox{{ operatorId }}"
			id="trainingCheckbox{{ operatorId }}">
			<input
				type="password"
				class=" form-control form-control-sm operator-input mx-auto"
				data-operator-training-target="trainingOperatorCode"
				data-action="keyup->operator-training#validateCodeEntryForTraining"
				data-operator-id="{{ operatorId }}" data-team-id="{{ teamId }}" data-uap-id="{{ uapId }}" placeholder="CodeOpé"
				id="trainingOperatorCode{{ operatorId }}"
				name="operators[{{ operatorId }}][trainingOperatorCode]"
				disabled>
		</li>
	{% endif %}
{% endmacro %}
