{% extends 'base.html.twig' %}
{% block title %}
	Modifcation du compte de
	{{user.username|split('.')|first|upper}}
	|
	{{ parent() }}
{% endblock %}
{% block body %}
	<div
		class="card border-0 shadow rounded-3  my-3">
		<div
			class="card-body">
			<div
				class="card border-0 shadow rounded-3 my-3 mx-lg-5 bg-secondary">
				<div
					class="card-body ">
					<div
						class=" row align-items-center gy-lg-5 gy-5">


						<h3
							class="card-title text-center mb-2"
							style="color:white">
							<strong>
								Modification de compte de
								{{user.username|capitalize|split('.')|first }}
								{{user.username|upper|split('.')|last }}
							</strong>

						</h3>
						<form
							class="form col-sm-10 col-md-9 col-lg-8 mx-auto"
							method="post"
							action="{{path('app_modify_account', {userId: user.id})}}">
							{% if error is defined %}
								{% if error %}
									<div
										class="alert alert-danger">
										{{ error.messageKey|trans(error.messageData, 'security') }}
									</div>
								{% endif %}
							{% endif %}

							<div
								class="form-control mb-2">
								<label
									for="username">
									Nom d'utilisateur
								</label>
								<input
									type="text"
									name="username"
									placeholder="{{user.username}}" class="form-control"
									id="username">

							</div>
							<div
								class="form-control mb-2">
								<label
									for="floatingPassword">
									Mot de passe
								</label>
								<input
									type="password"
									id="floatingPassword"
									placeholder="Mot de passe"
									name="password"
									class="form-control">

							</div>
							<div
								class="form-control mb-2">
								<label
									for="emailAddress">
									Adresse Mail
								</label>
								<input
									type="email"
									id="emailAddress"
									placeholder="{{user.emailAddress}}" name="emailAddress"
									class="form-control">
							</div>
							<div
								class="form-control mb-2">
								{% include 'services/accountservices/role_affectation_modification.html.twig' %}
							</div>
							<div
								class="form-control mb-2">
								<div>
									<label
										for="department"
										style="color:black">
										Service :
									</label>
								</div>
								<div>
									<select
										name="department"
										id="department"
										class="form-select">
										<option
											value=""
											selected
											disabled
											hidden>
											Choisir un Service
										</option>
									</select>
								</div>
							</div>
							<input
								type="hidden"
								name="_csrf_token"
								value="{{ csrf_token('authenticate') }}">
							<div
								class="d-grid">
								<button
									class="btn btn-primary btn-login text-uppercase fw-bold"
									type="submit">
									Modification du compte
								</button>
							</div>
							<hr
								class="my-4">
						</form>
						<div
							class="row">
							{% if user.blocked ? true %}
								{% if user.uploads is not empty or user.incidents is not empty %}
									<form
										class="form col-sm-10 col-md-9 col-lg-8 mx-auto d-flex"
										method="post"
										action="{{path('app_transfer_work', {userId: user.id})}}">

										<select
											name="work-transfer-recipient"
											id="work-transfer-recipient"
											class="form-select mx-3">
											<option
												value=""
												selected
												disabled>
												Choisir un destinataire
											</option>
											{% for recipient in users %}
												{% if recipient is same as(user) or 'ROLE_SUPER_ADMIN' in recipient.roles %}
													{% else %}
														<option
															value="{{recipient.id}}">
															{{recipient.username|capitalize|split('.')|first }}
															{{recipient.username|upper|split('.')|last }}
														</option>
												{% endif %}
											{% endfor %}
										</select>
										<button
											class="col-4 mx-auto btn btn-danger transfer-work"
											type="submit">
											Transferer le tavail de l'utilisateur
										</button>
									</form>
								{% else %}
									<a
										href="{{path('app_delete_account', {userId: user.id})}}" class="col-4 mx-auto btn btn-danger definitively-delete-user">
										Supprimer definitivement
									</a>
									<a
										href="{{path('app_unblock_account', {userId: user.id})}}" class="col-4 mx-auto btn btn-success unblock-user">
										Debloquer le compte
									</a>
								{% endif %}
							{% else %}
								<a
									href="{{path('app_delete_account_basic', {userId: user.id})}}" class="col-4 mx-auto btn btn-danger delete-user">
									Supprimer (Bloquer le compte)
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
